<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list>
      <ion-buttons slot="start">
        <ion-back-button mat-icon-button class="back-btn" defaultHref="/kyc-document">
        </ion-back-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->

<ion-content>
  <ion-list class="ion-list">
    <ion-grid class="topHeader bg-white p-0">
      <ion-title>{{CONSTANT.DOCUMENT_VERIFY_LABEL}}</ion-title>
    </ion-grid>

 

 

      <div class="verify_doc" *ngIf="verifyType===verifyTypeEnum.SELFIE">

        <!-- Selfie -->
        <div class="ion-text-header" [class.mt-3]="documentList?.length">
          <h6>
             {{ CONSTANT.SELFIE }} 
          </h6>
          <span class="gray-text">
            {{ CONSTANT.takeYourPhoto }}
          </span>
        </div>

        <div class="camera_btn selfie"
          [ngStyle]="{ 'background-image': 'url(' + attachments.frontImage.sourceFile?.webPath + ')' }"
          (click)="getPhoto('frontPage')">
          <ng-container *ngIf="attachments.frontImage.sourceFile?.webPath else takePhotoTmplt">
            <button mat-icon-button class="btn-delete" (click)="removePhoto($event, 'frontPage')">
              <small>
                <fa-icon class="fa-icon color-danger" icon="trash"></fa-icon>
              </small>
            </button>
          </ng-container>
        </div>
      </div>

      <div class="flex-column align-stretch mt-3 mb-3"
        *ngIf="verifyType===verifyTypeEnum.ID_VERIFY || verifyType===verifyTypeEnum.PAN">

        <mat-form-field appearance="outline" *ngIf="documentList?.length">
          <mat-label>{{CONSTANT.SELECT_DOCUMENT_LABEL}}</mat-label>
          <mat-select [(ngModel)]="documentType" (ngModelChange)="updateValidity()" required>
            <mat-option *ngFor="let doc of documentList" [value]="doc.value">{{doc.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="verifyType !== verifyTypeEnum.ID_VERIFY || documentType">
          <!-- Front -->
          <div class="ion-text-header" [class.mt-3]="documentList?.length">
            <h6>
              {{ CONSTANT.FRONT_SIDE_LABEL }} 
            </h6>
            <span class="gray-text">
              {{ CONSTANT.takePhotoLable('front', documentDisplayName) }}
            </span>
          </div>

          <div class="camera_btn"
            [ngStyle]="{ 'background-image': 'url(' + attachments.frontImage.sourceFile?.webPath + ')' }"
            (click)="getPhoto('frontPage')">
            <ng-container *ngIf="attachments.frontImage.sourceFile?.webPath else takePhotoTmplt">
              <button mat-icon-button class="btn-delete" (click)="removePhoto($event, 'frontPage')">
                <small>
                  <fa-icon class="fa-icon color-danger" icon="trash"></fa-icon>
                </small>
              </button>
            </ng-container>
          </div>

          <!-- Back -->
          <div class="ion-text-header mt-5">
            <h6>
              {{ CONSTANT.BACK_SIDE_LABEL }} 
            </h6>
            <span class="gray-text">
              {{ CONSTANT.takePhotoLable('back', documentDisplayName) }}
            </span>
          </div>
          <div class="camera_btn"
            [ngStyle]="{ 'background-image': 'url(' + attachments.backImage.sourceFile?.webPath + ')' }"
            (click)="getPhoto('backPage')">
            <ng-container *ngIf="attachments.backImage.sourceFile?.webPath else takePhotoTmplt">
              <button mat-icon-button class="btn-delete" (click)="removePhoto($event, 'backPage')">
                <fa-icon class="fa-icon color-danger" icon="trash"></fa-icon>
              </button>
            </ng-container>
          </div>
        </div>

      </div> 
  

    <app-loading *ngIf="isSaving"></app-loading>

 
</ion-list>
</ion-content>

<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme" expand="full" shape="round"  *ngIf="verifyType !== verifyTypeEnum.ID_VERIFY || documentType"
  [disabled]="!isValid" (click)="submit()">
  <fa-icon class="fa-icon mr-2" icon="check"></fa-icon>
  {{CONSTANT.VERIFY_LABEL}}
  </ion-button>
</ion-footer>
<!-- Footer Section End -->

<ng-template #takePhotoTmplt>
  <fa-icon class="fa-icon color-primary camera_icon" icon="camera"></fa-icon>
</ng-template>
