


  .verify_doc {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1.5rem;
  }
.ion-text-header{
  margin-bottom: .5rem;
  text-align: left;
  width: 95%;
  h6 {
    font-size: 20px;
    color: var(--blackColor);
    font-family: var(--f-Poppins);
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 22px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
  }
}
  .camera_btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--bg-lighter);

    &.selfie {
      height: 350px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23757575FF' stroke-width='5' stroke-dasharray='4%2c06' stroke-dashoffset='4' stroke-linecap='round'/%3e%3c/svg%3e");
      border-radius: 10px;
    }

    .camera_icon {
      font-size: 45px;
      line-height: 45px;
      width: 45px;
      height: 45px;
    }

    .btn-delete {
      position: absolute;
      top: -48px;
      right: -10px;
    }
    .color-danger
    {
      line-height: 2.1;
    }

    .selection-preview {
      background: red;
    }
  }


.uploadFile {
  display: none;
}



.topHeader {
  ion-title {
    position: inherit;
    text-align: left;
    height: inherit;
    left: inherit;
    padding-right: 0px;
    padding-inline: 0;
    font-size: 24px;
    font-family: var(--f-Poppins);
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 28px;
  }
}
