<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <!-- <ion-back-button mat-icon-button class="back-btn" defaultHref="/sign-in"> -->
        <!-- </ion-back-button> -->
        <ion-icon src="../../../assets/icon/back-arrow.svg" routerLink="/tabs/profile"></ion-icon>
        <!-- <ion-buttons slot="start">
      </ion-buttons> -->
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content>
  <div class="signin-content">
    <h2 class="heading text-left">Become a Prospprer</h2>
    <div class="small-text text-left mb-3">
      Let's start by creating a free account.
    </div>

    <!-- TODO: add create account message -->
    <!-- <p class="small-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p> -->
    <form [formGroup]="signUpForm" (submit)="signUp()" class="w-100 mt-3">
      <ion-label class="input" position="stacked">First name</ion-label>
      <ion-item class="customForm">
        <ion-input type="text" placeholder="Enter your first name" formControlName="given_name"></ion-input>
      </ion-item>

      <ion-label class="input" position="stacked">Last name</ion-label>
      <ion-item class="customForm">
        <ion-input type="text" placeholder="Enter your last name" formControlName="family_name"></ion-input>
      </ion-item>

      <ion-label class="input" position="stacked">Email Address</ion-label>
      <ion-item class="customForm">
        <ion-input type="email" placeholder="Enter your email address" formControlName="username"></ion-input>
      </ion-item>
      <div class="error-message"
        *ngIf="signUpForm.get('username').dirty && !signUpForm.get('username').errors?.required && signUpForm.get('username').errors?.email">
        <ul class="text-danger pl-1">
          <li>Enter valid email address</li>
        </ul>
      </div>

      <ion-label class="input" position="stacked">Mobile Number</ion-label>
      <ion-item class="customForm custom-select">
        <ion-select formControlName="phone_number_country_code" interface="popover">
          <ion-select-option *ngFor="let phoneNumberCountryCode of phoneNumberCountryCodes"
          [value]="phoneNumberCountryCode.code">
          {{ phoneNumberCountryCode.code }}
        </ion-select-option>
      </ion-select>
        <ion-input type="number" placeholder="Enter your mobile number" formControlName="phone_number"></ion-input>
      </ion-item>
      <div class="error-message"
        *ngIf="signUpForm.get('phone_number').dirty && !signUpForm.get('phone_number').errors?.required && signUpForm.get('phone_number').errors?.pattern">
        <ul class="text-danger pl-1">
          <li>Enter 10 digit mobile number</li>
        </ul>
      </div>

      <ion-label class="input" position="stacked">Password</ion-label>
      <ion-item class="customForm">
        <ion-input [type]="passwordType" placeholder="Enter your password" formControlName="password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="error-message" [innerHTML]="passwordRequirementMessage"
        *ngIf="signUpForm.get('password').dirty && !signUpForm.get('password').errors?.required && signUpForm.get('password').errors?.password">
        <!-- {{ passwordRequirementMessage }} -->
      </div>

      <ion-item class="custom-check">
        <ion-checkbox class="check-theme" slot="start" formControlName="agreeOnTermsAndConditions"></ion-checkbox>
        <ion-label>I agree to the terms and conditions</ion-label>
      </ion-item>

      <ion-list class="p-0 mt-3">
        <ion-button class="ion-button-theme" expand="full" shape="round" type="submit" [disabled]="signUpForm.invalid || isLoading">
          <ion-spinner *ngIf="isLoading" class="size-sm mr-2"></ion-spinner>
          {{ isLoading ? 'Creating An Account..' : 'Create An Account'}}
        </ion-button>
        <ion-list class="mt-3 p-0 text-center small-text">
          Already have an account? <ion-router-link class="link-primary" routerLink="/sign-in"><strong>Sign in!</strong></ion-router-link>
        </ion-list>
      </ion-list>
    </form>
  </div>
</ion-content>
