<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-back-button mat-icon-button class="back-btn" defaultHref="/sign-in">
        </ion-back-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content>
  <div class="signin-content">
    <h2 class="heading">Create your account</h2>
    <p class="small-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p>
    <form action="" class="w-100 mt-3">
      <ion-item class="customForm"> 
        <ion-input type="text" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item class="customForm"> 
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="customForm"> 
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item class="customForm custom-select"> 
        <ion-select  value="+91" interface="popover" >
          <ion-select-option value="+91">+91</ion-select-option>
          <ion-select-option value="+92">+92</ion-select-option>
          <ion-select-option value="+93">+93</ion-select-option>
          <ion-select-option value="+94">+94</ion-select-option>
          <ion-select-option value="+95">+95</ion-select-option>
           <ion-select-option value="+96">+96</ion-select-option>
          <!-- <ion-select-option value="n64">Nintendo64</ion-select-option>
          <ion-select-option value="ps">PlayStation</ion-select-option>
          <ion-select-option value="genesis">Sega Genesis</ion-select-option>
          <ion-select-option value="saturn">Sega Saturn</ion-select-option>
          <ion-select-option value="snes">SNES</ion-select-option> -->
        </ion-select>
        <ion-input type="number" placeholder="XXXX XXXX XXXX XXXX"></ion-input>
      </ion-item>
      <ion-item class="custom-check">
        <ion-checkbox class="check-theme" slot="start"></ion-checkbox>
        <ion-label>I agree to the terms and conditions</ion-label>
      </ion-item>
   
      <ion-list class="p-0 mt-6">
        <ion-list class="p-0 text-center small-text">
          Already have an account? <ion-router-link class="link-dark" routerLink="/sign-in">Sign in!</ion-router-link>
        </ion-list>
        <ion-button class="ion-button-theme" expand="full" shape="round">
          Sign Up
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>