<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-back-button mat-icon-button class="back-btn" defaultHref="/sign-in">
        </ion-back-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content>
  <div class="signin-content">
    <h2 class="heading">Create your account</h2>

    <!-- TODO: add create account message -->
    <!-- <p class="small-label">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p> -->
    <form [formGroup]="signUpForm" (submit)="signUp()" class="w-100 mt-3">
      <ion-item class="customForm">
        <ion-input type="text" placeholder="First name" formControlName="given_name"></ion-input>
      </ion-item>

      <ion-item class="customForm">
        <ion-input type="text" placeholder="Last name" formControlName="family_name"></ion-input>
      </ion-item>

      <ion-item class="customForm">
        <ion-input type="email" placeholder="Email" formControlName="username"></ion-input>
      </ion-item>
      <div class="error-message"
        *ngIf="signUpForm.get('username').dirty && !signUpForm.get('username').errors?.required && signUpForm.get('username').errors?.email">
        Enter valid email address
      </div>

      <ion-item class="customForm">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-message"
        *ngIf="signUpForm.get('password').dirty && !signUpForm.get('password').errors?.required && signUpForm.get('password').errors?.password">
        {{ passwordRequirementMessage }}
      </div>

      <ion-item class="customForm custom-select">
        <ion-select formControlName="phone_number_country_code" interface="popover">
          <ion-select-option *ngFor="let phoneNumberCountryCode of phoneNumberCountryCodes"
            [value]="phoneNumberCountryCode.code">
            {{ phoneNumberCountryCode.code }}
          </ion-select-option>
        </ion-select>
        <ion-input type="number" placeholder="XXXXX XXXXX" formControlName="phone_number"></ion-input>
      </ion-item>
      <div class="error-message"
        *ngIf="signUpForm.get('phone_number').dirty && !signUpForm.get('phone_number').errors?.required && signUpForm.get('phone_number').errors?.pattern">
        Enter 10 digit mobile number
      </div>

      <ion-item class="custom-check">
        <ion-checkbox class="check-theme" slot="start" formControlName="agreeOnTermsAndConditions"></ion-checkbox>
        <ion-label>I agree to the terms and conditions</ion-label>
      </ion-item>

      <ion-list class="p-0 mt-6">
        <ion-list class="p-0 text-center small-text">
          Already have an account? <ion-router-link class="link-dark" routerLink="/sign-in">Sign in!</ion-router-link>
        </ion-list>
        <ion-button class="ion-button-theme" expand="full" shape="round" type="submit" [disabled]="signUpForm.invalid || isLoading">
          <ion-spinner *ngIf="isLoading" class="size-sm mr-2"></ion-spinner>
          {{ isLoading ? 'Signing up..' : 'Sign up'}}
        </ion-button>
      </ion-list>
    </form>
  </div>
</ion-content>