<ion-header class="no-background">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Savings
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-left">
          DD-MMM
        </ion-col>
        <ion-col class="ion-text-center">
          Today
          <ion-icon name="arrow-dropdown" class="valign-middle"></ion-icon>
        </ion-col>
        <ion-col class="ion-text-right">
          Upcoming
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-grid class="ion-margin-bottom">
    <ion-row class="ion-align-items-center">
      <ion-col size="5" class="ion-text-center border-right">
        <div>Saved</div>
        <div>
          <h1 class="ion-no-margin">
            <small>&#x20B9;</small> <b>50</b>
          </h1>
          expected <b>&#x20B9; 100</b>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <div class="ion-text-center">Top 3 savings</div>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-no-padding ion-text-left">&#x20B9; 28</ion-col>
              <ion-col class="ion-no-padding ion-text-right">Food</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding ion-text-left">&#x20B9; 10</ion-col>
              <ion-col class="ion-no-padding ion-text-right">Grossary</ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding ion-text-left">&#x20B9; 5</ion-col>
              <ion-col class="ion-no-padding ion-text-right">Fashion</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="top-rounded h-80 ion-no-margin bg-white">
    <div class="ion-padding-top ion-padding-bottom"></div>
    <ion-card-content>
      <ion-calendar class="no-padding"
        [(ngModel)]="today"
        [format]="'YYYY-MM-DD'"
        [type]="calenderType"
        [options]="calendarOptions" #calender>
      </ion-calendar>  
    </ion-card-content>

    <ion-item class="ion-no-margin" lines="none">
      <ion-grid  class="ion-no-margin">
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center">
            <ion-icon name="star" size="large" color="primary"></ion-icon>
            <br>
            <ion-text>&gt;Avg<br>Saving</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-icon name="ios-radio-button-on" size="large" color="primary"></ion-icon>
            <br>
            <ion-text>Avg<br>Saving</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-icon name="ios-radio-button-on" size="large" color="secondary"></ion-icon>
            <br>
            <ion-text>&lt;Avg<br>Saving</ion-text>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-icon name="radio-button-off" size="large" color="secondary"></ion-icon>
            <br>
            <ion-text>No<br>Saving</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-card>

</ion-content>
