.topHeader{ 
    ion-title{
      position: inherit;
      text-align: left;
      height: inherit;
      left: inherit;
      padding-right: 0px;
      padding-inline: 0;
      font-size: 24px;
      font-family: var(--f-Poppins);
      font-weight: 400;
      margin-bottom: 1.5rem;
      line-height: 28px; 
  } 
  }
  //  Popular Coin Card Start
  .account-logo {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #fff;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
  //  Popular Coin Card End


  