<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-back-button mat-icon-button mode='md' defaultHref="/tabs/profile"><ion-icon src="../../../assets/icon/back-arrow.svg"></ion-icon></ion-back-button>
      </ion-buttons>
      <ion-label class="notifcation-list d-flex"><b>Notification List</b></ion-label>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content class="notifications">

 <!--  <ion-title  class="topHeader">Notifications</ion-title> -->

  <ng-container *ngIf="!isLoading else loadingTmplt">

    <ion-list class="pr-3" *ngIf="notifications?.length else noNotificationsTmplt">
      <ion-grid>
        <ion-item class="card" *ngFor="let notification of notifications" routerLink="/{{ notification.data.route }}">
          <ion-label class="notification-data ">
            <h2>{{ notification.title }}</h2>
            <p>{{ notification.body }}</p>
          </ion-label>
        </ion-item>
      </ion-grid>
    </ion-list>

    <ng-template #noNotificationsTmplt>
      <ion-list class="p-3">
        <ion-grid>
          <div class="mt-2">
            No notifications available
          </div>
        </ion-grid>
      </ion-list>
    </ng-template>

  </ng-container>

</ion-content>

<ng-template #loadingTmplt>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>
