   <!-- Header Section Start --> 
  <ion-header translucent class="themeHeader">
    <ion-toolbar>
      <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-back-button  mat-icon-button class="back-btn" defaultHref="/choose-plan-frequency"> 
        </ion-back-button>
      </ion-buttons> 
    </ion-list>
    </ion-toolbar>
  </ion-header>
  <!-- Header Section End -->
  <ion-content class="portfolio-view">  
    <ion-list class="ion-list bg-white">
      <ion-row>
        <ion-col class="p-0" size="12" size-md>
          <ion-list class="d-flex justify-center">
            <div class="coinTag-inner">
              <div class="coinTag bg-blue">
                <ion-icon class="coin-icon" src="../../../assets/icon-bitc.svg"></ion-icon>
              </div>
              <div class="coinTag bg-greenLighter">
                <ion-icon class="coin-icon" src="../../../assets/icon-et.svg"></ion-icon>
              </div>
              <div class="coinTag bg-grey">
                <ion-icon class="coin-icon" src="../../../assets/icon-vi.svg"></ion-icon>
              </div>
            </div>
          </ion-list>
          <h2 class="header-title mt-2">Withdraw amount</h2>
          <ion-list class="mt-2 mb-2">
            <div class="small-label text-center">step 1 of 2</div>
            <ion-progress-bar class="themeProgress" value="0.5"></ion-progress-bar>
          </ion-list>
          <ion-list class="mt-2 text-center"> 
              <ion-text class="small-label">
                ₹ INR
              </ion-text>
              <ion-input type="number" placeholder="Type here"></ion-input>
          </ion-list> 
          <ion-list class="mt-2 text-center dial-pad"> 
              <ion-row>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">1</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">2</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">3</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">4</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">5</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">6</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">7</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">8</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">9</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                 
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-theme-lighter">0</ion-button>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-button class="ion-button-white">
                      <ion-icon src="../../../assets/dial-back.svg"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
         </ion-list>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-content>
  <!-- Footer Section Start -->
  <ion-footer class="bottomBtn">
    <ion-button class="footerTab ion-button-theme" expand="full" shape="round" routerLink="/select-account">
      Next
    </ion-button>
  </ion-footer>
  <!-- Footer Section End -->