<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="no-padding-start">
      Add Income And Expense
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <div [formGroup]="incomeExpenseForm" class="ion-padding">

    <ion-grid class="no-padding-start no-padding-end no-padding-bottom">
      <ion-row>
        <ion-col class="no-padding-start no-padding-bottom">
          <ion-select okText="Okay" cancelText="Dismiss" formControlName="incomeOrExpense" 
            class="border-bottom ion-padding-end" 
            [class.border-color-danger]="(isSubmitionInitiated || incomeExpenseForm.get('incomeOrExpense').touched) && incomeExpenseForm.get('incomeOrExpense').invalid"
            (ionChange)="incomeExpenseChanged($event)">
            <ion-select-option *ngFor="let incomeExpenseItem of incomeExpenseList" [value]="incomeExpenseItem.value">{{ incomeExpenseItem.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col class="no-padding-start no-padding-end no-padding-bottom">
          <ion-select okText="Okay" cancelText="Dismiss" formControlName="type" 
            class="border-bottom ion-padding-end"
            [class.border-color-danger]="(isSubmitionInitiated || incomeExpenseForm.get('type').touched) && incomeExpenseForm.get('type').invalid">
            <ion-select-option *ngFor="let type of typeList" [value]="type._id">{{ type.label }}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="ion-padding-start ion-padding-end" @fontSizeEnterLeave
            *ngIf="(isSubmitionInitiated || incomeExpenseForm.get('incomeOrExpense').touched) && incomeExpenseForm.get('incomeOrExpense').invalid">
            <ion-text color="danger" class="text-sm" *ngIf="incomeExpenseForm.get('incomeOrExpense').errors.required">
              Select either Income or Expense
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="ion-padding-start ion-padding-end ion-text-right" @fontSizeEnterLeave
            *ngIf="(isSubmitionInitiated || incomeExpenseForm.get('type').touched) && incomeExpenseForm.get('type').valid && incomeExpenseForm.get('type').invalid">
            <ion-text color="danger" class="text-sm" *ngIf="incomeExpenseForm.get('type').errors.required">
              Type is required
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item [class.ion-touched]="isSubmitionInitiated && incomeExpenseForm.get('category').invalid">
      <ion-input placeholder="Category" formControlName="category" (ionFocus)="presentCategoryOverlay()"></ion-input>
      <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <div class="ion-padding-start ion-padding-end" @fontSizeEnterLeave
      *ngIf="(isSubmitionInitiated || incomeExpenseForm.get('category').dirty) && incomeExpenseForm.get('category').invalid">
      <ion-text color="danger" class="text-sm" *ngIf="incomeExpenseForm.get('category').errors.required">
        Category is required field
      </ion-text>
    </div>

    <ion-item>
      <!-- <ion-label>Date</ion-label> -->
      <!-- [value]="today" -->
      <ion-datetime displayFormat="D/M/YYYY" formControlName="date" class="no-padding-start"></ion-datetime>
      <ion-icon name="calendar" slot="end"></ion-icon>
    </ion-item>

    <!-- <ion-item [class.ion-touched]="isSubmitionInitiated && incomeExpenseForm.get('date').invalid">
      <ion-input placeholder="Date" formControlName="date"></ion-input>
      <ion-icon name="calendar" slot="end"></ion-icon>
    </ion-item>
    <div class="ion-padding-start ion-padding-end" @fontSizeEnterLeave
      *ngIf="(isSubmitionInitiated || incomeExpenseForm.get('date').touched) && incomeExpenseForm.get('date').invalid">
      <ion-text color="danger" class="text-sm" *ngIf="incomeExpenseForm.get('date').errors.required">
        Date is required field
      </ion-text>
    </div> -->

    <ion-item [class.ion-touched]="isSubmitionInitiated && incomeExpenseForm.get('amount').invalid">
      <ion-input placeholder="Amount" type="number" formControlName="amount"></ion-input>
    </ion-item>
    <div class="ion-padding-start ion-padding-end" @fontSizeEnterLeave
      *ngIf="(isSubmitionInitiated || incomeExpenseForm.get('amount').touched) && incomeExpenseForm.get('amount').invalid">
      <ion-text color="danger" class="text-sm" *ngIf="incomeExpenseForm.get('amount').errors.required">
        Amount is required field
      </ion-text>
      <ion-text color="danger" class="text-sm" *ngIf="incomeExpenseForm.get('amount').errors.pattern">
        Please enter valid amount
      </ion-text>
    </div>

    <ion-item [class.ion-touched]="isSubmitionInitiated && incomeExpenseForm.get('description').invalid">
      <ion-textarea placeholder="Description" formControlName="description" rows="5"></ion-textarea>
    </ion-item>

  </div>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-item class="quit-bold">
      <ion-label>
        Total Amount
      </ion-label>
      <p>
        &#x20B9; 
        {{ incomeExpenseForm.get('amount').invalid ? 0 : (incomeExpenseForm.get('amount').value === '' ? 0 : incomeExpenseForm.get('amount').value) }}
      </p>
      <ion-button color="primary" slot="end" fill="solid" size="default" class="ion-margin-start" (click)="save()">Save</ion-button>
    </ion-item>

    <!-- <ion-buttons slot="end">
    </ion-buttons> -->
  </ion-toolbar>

</ion-footer>

