.themeHeader{ 
    ion-toolbar{
        --background:var(--bg-lighter); 
        --border-color:var(--bg-lighter); 
      }
      ion-list{
        background: transparent;
      }
      .menuLeft{ 
        background-color:rgba($color: #fff, $alpha: 1); 
        ion-icon{
          stroke: #2F4858;
        }
      }
      ion-button{
          margin: 0px;
          line-height: 0px;
          height: 36px;
          font-size: 14px;  
          --border-radius: 6px; 
          font-weight: 400;
          font-family: var(--f-Poppins);
          --ion-color-base:#2F4858 !important;
          letter-spacing: .08px; 
      } 
    } 
    .invest{    
        .theme-banner{
          padding-bottom: 0rem;
            .small-label{
                opacity: .6;
            }
            &::after { 
              height: 35px;
            }
        }
        
          .tabbingTheme {
            background-color:#F2F2F2;
            padding: 8px;
            border-radius: 18px;
            position: relative;
            z-index: 5;
            margin-top: 1.5rem;
        
            ion-segment-button {
              font-size: 14px;
              color: rgba($color: #102E28, $alpha: .8); 
              font-family: var(--f-Poppins);
              --padding-end: 15px;
              --padding-start: 15px; 
              --border-radius: 12px;
              text-transform: inherit;
              --indicator-color: var(--theme-color);
              --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              height: 45px; 
              &.segment-button-checked {
                font-size: 15px;        
                color: #fff;
                &.md{
                  background-color:  var(--theme-color);
                 --indicator-color: inherit;
                }
              }
        
              &::before {
                display: none;
              }
            }
          }
    }
    //  Popular Coin Card Start 