<!-- Body Section Start -->
<ion-header class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between align-center">
      <ion-icon class="font-larger text-d-theme" routerLink="/notification" name="notifications"></ion-icon>
      <ion-icon class="font-xx" src="../../../assets/profile/profile.svg"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content class="invest popularSection basket bg-lighter-gray">
  <div class="pl-4 pr-4 pt-2 pb-2 bg-lighter-gray">
    <ion-grid class="p-0">
      <ion-row>
        <ion-col size="12" class="p-0" size-md>
          <h2 class="ion-title">Invest</h2>
          <ion-label>Pick a coin or a basket to start your SIP</ion-label>
        </ion-col>
        <ion-segment class="tabbingTheme" (ionChange)="segmentChanged($event)" value="Coins">
          <ion-segment-button value="Coins">
            <ion-label>
              Coins
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="Baskets">
            <ion-label>
              Baskets
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="ion-list bg-lighter-gray">
    <ion-grid class="p-0">
      <ion-row *ngIf="segment === 'Coins'">
        <ng-container *ngIf="!showLoader else loadingTmplt">
          <ng-container *ngIf="coinList?.length else noCoinsTmplt">
            <ion-col *ngFor="let coin of coinList" size="6" size-md>
              <app-package-card [package]="coin" [coinList]="coin.coins" [packageList]="coin.coins" view="coin" [navigationLink]="'/packages/' + coin._id"></app-package-card>
            </ion-col>
          </ng-container>
          <ng-template #noCoinsTmplt>
            <div class="ion-text-center mt-5">
              No coins available
            </div>
          </ng-template>
        </ng-container>
        <!-- <ion-col size="6" size-md>
          <div class="card bg-theme">
            <div class="card-body">
              <div class="d-flex align-center justify-between w-100 mb-3">
                <div class="coinTag bg-dark">
                  <ion-icon class="coin-icon" src="../../../assets/icon-bitc.svg"></ion-icon>
                </div>
                <div class="small-text bg-white text-dark">
                  <ion-icon class="text-d-theme icon-up" src="../../../assets/md-arrow-dropup.svg"></ion-icon>
                  0.7%
                </div>
              </div>
              <div class="small-label text-white">Bitcoin</div>
              <div class="d-flex align-end">
                <h4 class="Price text-white">₹19,006</h4>
                <span class="small-label text-white ml-2">BTC</span>
              </div>
            </div>
            <div class="mt-1">
              <ion-icon class="large-line" src="../../../assets/area-line-white.svg"></ion-icon>
            </div>
          </div>
        </ion-col> -->
      </ion-row>

      <ion-row *ngIf="segment === 'Baskets'">

        <ng-container *ngIf="!showLoader else loadingTmplt">

          <ng-container *ngIf="packageList?.length else noPackagesTmplt">
            <ion-col *ngFor="let package of packageList" class="sip-list" size="12" size-md>
              <app-package-card [package]="package" [coinList]="package.coins" [packageList]="package.coins" [navigationLink]="'/packages/' + package._id"></app-package-card>
            </ion-col>
          </ng-container>

          <ng-template #noPackagesTmplt>
            <div class="ion-text-center mt-5">
              No packages available
            </div>
          </ng-template>

        </ng-container>


        <!-- <ion-col size="12" size-md>
          <div class="card bg-lighter">
            <div class="card-body">
              <div class="d-flex align-center justify-between w-100 mb-3">
                <div class="d-flex">
                  <div class="coinTag bg-greenLighter">
                    <ion-icon class="coin-icon" src="../../../assets/icon-et.svg"></ion-icon>
                  </div>
                </div>
                <div class="d-flex align-center">
                  <a href="#" class="view-icon" routerLink="/portfolio-view">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                  </a>
                </div>
              </div>
              <div class="small-label text-dark">Etherium</div>
              <div class="d-flex align-center justify-between mt-2">
                <div>
                  <div class="small-label text-dark">Total Invested</div>
                  <h4 class="Price text-dark">₹70.00</h4>
                </div>

                <div class="d-flex align-center">
                  <div class="d-flex align-center mr-2">
                    <ion-icon class="line-draw" src="../../../assets/small-line-danger.svg"></ion-icon>
                  </div>
                  <div>
                    <div class="small-label text-dark">Returns</div>
                    <div class="small-text bg-danger text-white">
                      <ion-icon class="text-white icon-up" src="../../../assets/md-arrow-dropup.svg"></ion-icon> 45%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-col> -->

      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<!-- Body Section End -->



<ng-template #loadingTmplt>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>
