  <!-- Header Section Start --> 
 <ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
    <ion-buttons slot="start">
      <ion-back-button  mat-icon-button class="back-btn" defaultHref="/profile"> 
      </ion-back-button>
    </ion-buttons> 
  </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Body Section Start -->
<ion-content class="walletSection">
  <div class="theme-banner bg-lighter">
    <ion-grid class="p-0">
      <ion-row>
        <ion-col size="7" class="p-0" size-md>
          <h2 class="ion-title">My wallet</h2>
          <h4 class="Price text-d-theme">₹19,006</h4>
          <span class="small-label">Current</span>
          <ion-grid class="invest-list">
            <ion-row class="w-100">
              <ion-col size="6" class="p-0" size-md>
                <h6>₹19,206.00</h6>
                <span class="small-label">Withdrawn</span>
              </ion-col>
              <ion-col size="6" class="p-0" size-md>
                <h6>521</h6>
                <span class="small-label">Transacations</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="5" class="p-0 plant-img" size-md>
          <ion-icon src="../../../assets/plant-sec.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>    
    <ion-grid class="mt-2 p-0">
      <ion-row class="w-100">
        <ion-col size="6"  size-md>
            <ion-button class="ion-button-white">
              <ion-icon class="mr-1 icon-theme" src="../../../assets/icon-up-arrow.svg"></ion-icon>
              Deposit</ion-button>
        </ion-col>
        <ion-col size="6"  size-md>
          <ion-button class="ion-button-white"> <ion-icon class="mr-1 icon-dark" src="../../../assets/icon-down-arrow.svg"></ion-icon>Withdraw</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="ion-list">
    <ion-grid class="themeHeading mt-0 p-0">
      <h6>TRANSACTIONS</h6>
    </ion-grid>
    <ion-item>
      <ion-list class="up-icon" slot="start">
        <ion-icon src="../../../assets/icon-up-arrow-round.svg"></ion-icon>
      </ion-list>
      <ion-label>
        <ion-row class="w-100">
          <ion-col class="p-0" size="10"  size-md>
            <h2 class="ion-title">Chase bank</h2> 
            <span class="small-label">19 Nov, 2022, 15:00</span>
          </ion-col>
          <ion-col class="p-0 align-center d-flex justify-end" size="2"  size-md>
            <h4 class="priceTage">$36</h4>  
          </ion-col>
        </ion-row>       
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-list class="up-icon" slot="start">
        <ion-icon src="../../../assets/icon-up-arrow-round.svg"></ion-icon>
      </ion-list>
      <ion-label>
        <ion-row class="w-100">
          <ion-col class="p-0" size="10"  size-md>
            <h2 class="ion-title">Chase bank</h2> 
            <span class="small-label">19 Nov, 2022, 15:00</span>
          </ion-col>
          <ion-col class="p-0 align-center d-flex justify-end" size="2"  size-md>
            <h4 class="priceTage">$36</h4>  
          </ion-col>
        </ion-row>       
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-list class="up-icon" slot="start">
        <ion-icon src="../../../assets/icon-up-arrow-round.svg"></ion-icon>
      </ion-list>
      <ion-label>
        <ion-row class="w-100">
          <ion-col class="p-0" size="10"  size-md>
            <h2 class="ion-title">Chase bank</h2> 
            <span class="small-label">19 Nov, 2022, 15:00</span>
          </ion-col>
          <ion-col class="p-0 align-center d-flex justify-end" size="2"  size-md>
            <h4 class="priceTage">$36</h4>  
          </ion-col>
        </ion-row>       
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-list class="up-icon" slot="start">
        <ion-icon src="../../../assets/icon-up-arrow-round.svg"></ion-icon>
      </ion-list>
      <ion-label>
        <ion-row class="w-100">
          <ion-col class="p-0" size="10"  size-md>
            <h2 class="ion-title">Chase bank</h2> 
            <span class="small-label">19 Nov, 2022, 15:00</span>
          </ion-col>
          <ion-col class="p-0 align-center d-flex justify-end" size="2"  size-md>
            <h4 class="priceTage">$36</h4>  
          </ion-col>
        </ion-row>       
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-list class="up-icon" slot="start">
        <ion-icon src="../../../assets/icon-up-arrow-round.svg"></ion-icon>
      </ion-list>
      <ion-label>
        <ion-row class="w-100">
          <ion-col class="p-0" size="10"  size-md>
            <h2 class="ion-title">Chase bank</h2> 
            <span class="small-label">19 Nov, 2022, 15:00</span>
          </ion-col>
          <ion-col class="p-0 align-center d-flex justify-end" size="2"  size-md>
            <h4 class="priceTage">$36</h4>  
          </ion-col>
        </ion-row>       
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!-- Body Section End -->