/* .themeHeader{
    ion-toolbar{
        --background:var(--bg-lighter);
        --border-color:var(--bg-lighter);
      }
      ion-list{
        background: transparent;
      }
      ion-back-button.md{
        background-color:rgba($color: #fff, $alpha: 1);
        ion-icon{
          stroke: #2F4858;
        }
      }
    } */
.themeHeader{
    background-image: url("~src/assets/wallet-header-bg.svg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 230px;
    display: block;
    ion-toolbar{
      --background:transparent;
      color: #fff !important;
    }
}
.user-profile
{
  padding-top: 2%;
  h3, h2
  {
    font-family: Lexend;
  }
}
ion-icon{
  font-size: 20px;
}
.avatar ion-img{
  width: 40px;
  border-radius: 50px;
}
.avatar-main ion-img{
  width: 80px;
  border-radius: 50px;
  margin: auto;
}
.profile-mobile
{
  margin-top: -7%;
}
.list-header
{
  background:#F8F8F8;
  padding-bottom:0px;
  ion-col p{
    border-radius: 40px 40px 0px 0px;
    height: 35px;
    background-color: #fff;
    margin-bottom:-2.5%;
    opacity: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
.wallet-heading
{
  font-weight: 700;
}
.wallet-header-amount
{
  color:var(--amplify-primary-shade);
  font-weight: 700;
  margin-top: -3%;
  margin-bottom: -3%;
  font-size: 30px;
  letter-spacing: 1.2px;
  font-family: Lexend;
}
.my-portfolio-heading
{
  font-weight: 500;
}
.my-portfolio-transaction,.my-portfolio-withdrawal
{
  margin-top: -10%;
  font-size: 16px;
}
    //  My Wallet Card Start
.walletSection {
  padding-top: 0rem;
    ion-list{
      --background:var(--amplify-primary-shade);
      padding-top: 0rem;
        ion-icon{
          font-size: 14px;
          &.icon-theme{
              stroke:#8AC680;
          }
          &.icon-dark{
            stroke:#2F4858;
        }
      }
      }
      ion-button{
        margin: 0px;
        line-height: 0px;
        height:50px;
        font-size: 16px;
        --border-radius: 8px;
        font-weight: 400;
        font-family: var(--f-Poppins);
        letter-spacing: .08px;
        width: 100%;

    }
    ion-item{
      --min-height: 65px;
      --inner-border-width: 0px;
      --border-color: inherit;
        --padding-start: 0px;
        .list-md{
             padding-bottom: 0px;
        }
        .up-icon{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          //background-color: var(--bg-lighter);
          border-radius: 15px;
          margin-right: 1rem;
          ion-icon{
            font-size: 34px;
          }
        }
        .ion-title{
          font-size: 17px;
          font-family: var(--f-Poppins);
          letter-spacing: .08px;
          margin-bottom: 0px;
          font-weight: 600;
          color: #000;
          line-height: 20px;
          margin-bottom: 2px;
        }
        .small-label{
          font-size: 14px;
          font-family: var(--f-Poppins);
          color: var(--blackColor);
        }
        .priceTage{
          font-size: 18px;
          font-family: var(--f-Poppins);
          letter-spacing: .08px;
          margin-bottom: 0px;
          font-weight: 600;
          color: #000;
          line-height: 18px;
          margin-bottom: 0px;
        }
        ion-label{
          margin-inline: 0px;
          margin:0px;
        }

    }

  }
  ion-button{
    ion-icon{
      font-size: 20px;
     /*  &.icon-theme{
          stroke:#8AC680;
      }
      &.icon-dark{
        stroke:#2F4858;
    } */
    }
  }
  //  My Wallet Card End
