  <!-- Header Section Start -->
 <!-- <ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
    <ion-buttons slot="start">
      <ion-back-button  mat-icon-button class="back-btn" defaultHref="/tabs/profile">
      </ion-back-button>
    </ion-buttons>
  </ion-list>
  </ion-toolbar>
</ion-header> -->
<ion-row class="list-header p-0">
  <ion-col size="12" class="p-0">
    <p class="text-white font-weight-bold p-0"></p>
  </ion-col>
</ion-row>
<ion-header class="themeHeader">
  <div class="user-profile">
    <ion-row class="pl-5 mt-4">
      <ion-col size="12" class="text-left" size-md>
        <ion-icon src="../../../assets/icon/back-arrow.svg" routerLink="/tabs/profile"></ion-icon>
      </ion-col>
      <ion-col size="12" class="text-left mt-3" size-md>
        <h2 class="wallet-heading">My wallet</h2>
      </ion-col>
      <ion-col size="12" class="text-left mt-2" size-md>
        <h1 class="wallet-header-amount">₹ 20,000</h1>
      </ion-col>
      <ion-col size="12" class="text-left mt-1" size-md>
        <h3 class="my-portfolio-heading">My portfolio</h3>
      </ion-col>
      <ion-col size="6" class="text-left" size-md>
        <h2 class="my-portfolio-heading">₹ 20,000</h2>
        <h3 class="my-portfolio-withdrawal text-muted">Withdraw</h3>
      </ion-col>
      <ion-col size="6" class="text-left" size-md>
        <h2 class="my-portfolio-heading">504</h2>
        <h3 class="my-portfolio-transaction text-muted">Transaction</h3>
      </ion-col>
    </ion-row>
  </div>
</ion-header>



<!-- Header Section End -->
<!-- Body Section Start -->
<ion-content class="walletSection">
   <!-- <div class="theme-banner bg-lighter">
   <ion-grid class="p-0">
      <ion-row>
        <ion-col size="7" class="p-0" size-md>
          <h2 class="ion-title">My Wallet</h2>
          <h4 class="Price text-d-theme">₹19,006</h4>
          <span class="small-label">Current</span>
          <ion-grid class="invest-list">
            <ion-row class="w-100">
              <ion-col size="6" class="p-0" size-md>
                <h6>₹19,206.00</h6>
                <span class="small-label">Withdrawn</span>
              </ion-col>
              <ion-col size="6" class="p-0" size-md>
                <h6>521</h6>
                <span class="small-label">Transacations</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="5" class="p-0 plant-img" size-md>
          <ion-icon src="../../../assets/plant-sec.svg"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="mt-2 p-0">
      <ion-row class="w-100">
        <ion-col size="6"  size-md>
            <ion-button class="ion-button-white" routerLink="/deposit-amount">
              <ion-icon class="mr-1 icon-theme" src="../../../assets/icon-up-arrow.svg"></ion-icon>
              Deposit</ion-button>
        </ion-col>
        <ion-col size="6"  size-md>
          <ion-button class="ion-button-white" routerLink="/withdrawal-amount"> <ion-icon class="mr-1 icon-dark" src="../../../assets/icon-down-arrow.svg"></ion-icon>Withdraw</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>-->
  <ion-list class="ion-list">
    <ion-grid class="themeHeading mt-0 pt-2">
      <h6>Transcation</h6>
    </ion-grid>
    <ion-item *ngFor="let transaction of transactionList; index as i">
      <ion-list class="up-icon " slot="start">
        <ion-icon *ngIf="transaction.type=='deposit'" src="../../../assets/icon/deposit-icon.svg"></ion-icon>
        <ion-icon *ngIf="transaction.type=='withdrawal'" src="../../../assets/icon/withdraw-icon.svg"></ion-icon>
      </ion-list>
      <ion-label>
        <ion-row class="w-100">
          <ion-col class="p-0" size="10"  size-md>
            <h2 class="ion-title">{{ transaction.status | titlecase }}</h2>
            <span class="small-label">{{ transaction.createdAt | date }}</span>
          </ion-col>
          <ion-col class="p-0 align-center d-flex justify-end" size="2"  size-md>
            <h4 class="priceTage">{{ transaction.amount }}</h4>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<!-- Body Section End -->
