.plan-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  flex-grow: 1;
  overflow: auto;

  .plan-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    border-radius: 4px;
    background-color: rgba(28, 12, 91, 0.05);
    margin-bottom: 0.5rem;
    flex-shrink: 0;

    .arrow-icon {
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 18px;
      color: var(--theme-color);
      margin-top: 0.25rem;
      flex-shrink: 0;

    }
  }
}
.calendar-day.calendar-day-today.calendar-day-active::after,.calendar-day.calendar-day-active::after
{
  background: #2B7979 !important;
}
