<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-back-button mat-icon-button class="back-btn" defaultHref="/forgot-password">
        </ion-back-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->

<ion-content>

  <div class="reset-password-content">

    <h2 class="heading">Reset password</h2>
    <p class="small-label">Provide the code sent to <b>{{ email }}</b> and reset your password</p>


    <form class="w-100 mt-3" [formGroup]="resetPasswordForm" (submit)="resetPassword()">

      <ion-item class="customForm">
        <ion-input type="password" placeholder="Code" formControlName="code"></ion-input>
      </ion-item>

      <ion-item class="customForm">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-message" [innerHTML]="passwordRequirementMessage"
        *ngIf="resetPasswordForm.get('password').dirty && !resetPasswordForm.get('password').errors?.required && resetPasswordForm.get('password').errors?.password">
        <!-- {{ passwordRequirementMessage }} -->
      </div>

      <ion-list class="p-0 mt-6">
        <ion-button class="ion-button-theme" type="submit" expand="full" shape="round"
          [disabled]="resetPasswordForm.invalid || isLoading">
          <ion-spinner *ngIf="isLoading" class="size-sm mr-2"></ion-spinner>
          {{ isLoading ? 'Resetting password..' : 'Reset password' }}
        </ion-button>
      </ion-list>
    </form>

  </div>

</ion-content>