.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  padding: 1rem;

  .back-btn {
    position: absolute;
    left: 1rem;
    margin: 0 !important;
  }
}

.profile-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(124, 50, 50, 0.12);
  padding: 1rem;

  .profile {
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    margin-right: 2.1rem;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;

  .menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(124, 50, 50, 0.12);
    padding: 0.8rem 0;

    .menu-icon-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      background-color: rgba(28, 12, 91, 0.05);
      border-radius: 50%;
      margin-right: 1.5rem;
    }

    .gray-text {
      font-size: 0.8rem;
    }
  }
}

.back-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem !important;
}
