<ion-content>
  <div class="page-container p-0">
    <div class="page-header">
      <button mat-icon-button class="back-btn" (click)="onBack()">
        <fa-icon class="fa-icon" icon="chevron-left"></fa-icon>
      </button>
      <h2 class="m-0">Menu</h2>
    </div>
    <div class="profile-section">
      <img src="../../../assets/icon/user.jpg" class="avatar" alt="avatar">
      <h2>Alexandra N. Ford</h2>
    </div>
    <div class="menu-list pt-0">
      <div class="menu-item" matRipple (click)="viewTransactions()">
        <div class="menu-icon-container">
          <fa-icon class="fa-icon color-primary" icon="receipt"></fa-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Transaction History</h2>
            <span class="gray-text">Transactions details</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <fa-icon class="fa-icon color-primary" icon="university"></fa-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Bank details</h2>
            <span class="gray-text">Banks & AutoPay mandates</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <fa-icon class="fa-icon color-primary" icon="question-circle"></fa-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Help & Support</h2>
            <span class="gray-text">FAQs, Contact support</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <fa-icon class="fa-icon color-primary" icon="gift"></fa-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Refer & earn</h2>
            <span class="gray-text">Track Rewards & help friends</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <fa-icon class="fa-icon color-primary" icon="sign-out-alt"></fa-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Logout</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
