<ion-content>
  <div class="page-container p-0">
    <div class="page-header">
      <button mat-icon-button class="back-btn" (click)="onBack()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <h2 class="m-0">Menu</h2>
    </div>
    <div class="profile-section">
      <img src="../../../assets/icon/user.jpg" class="avatar" alt="avatar">
      <h2>Alexandra N. Ford</h2>
    </div>
    <div class="menu-list pt-0">
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <mat-icon>account_balance_wallet</mat-icon>
        </div>
        <div class="flex-row align-center grow">
          <div class="flex-column align-stretch ">
            <h2 class="mb-1">&#8377;13,489.98</h2>
            <span class="gray-text">Wallet Balance</span>
          </div>
          <div class="grow flex-row items-end mr-3">
            <a href="/dashboard/add-money" class="link-btn"><span class="font-4 mr-2">+</span> Add Money</a>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <mat-icon>receipt</mat-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Transaction History</h2>
            <span class="gray-text">Transactions details</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <mat-icon>account_balance</mat-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Bank details</h2>
            <span class="gray-text">Banks & AutoPay mandates</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <mat-icon>help</mat-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Help & Support</h2>
            <span class="gray-text">FAQs, Contact support</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <mat-icon>redeem</mat-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Refer & earn</h2>
            <span class="gray-text">Track Rewards & help friends</span>
          </div>
        </div>
      </div>
      <div class="menu-item" matRipple>
        <div class="menu-icon-container">
          <mat-icon>logout</mat-icon>
        </div>
        <div class="flex-row align-center">
          <div class="flex-column align-stretch">
            <h2 class="mb-1">Logout</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
