<ion-content class="sip-created">
  <ion-list class="ion-list">
    <ion-grid class="p-0">
      <ion-row>
      <ion-col class="d-flex justify-center p-0" size="12" size-md>
          <div class="sip-done">
            <ion-icon  src="../../../assets/icon-checked.svg"></ion-icon>
          </div>
      </ion-col>
      <ion-col class="mt-5 mb-2" size="12" size-md>
        <h2 class="header-title  f-Poppins text-center">Amount Withdrawn</h2>
      </ion-col>    
        <ion-col size="12" class="text-center"  size-md>
          <h4 class="header-title text-white">₹19,006.00</h4>
          <span class="small-label ">Amount</span>
        </ion-col> 
       <ion-list class="view-sip card-view mt-3">  
         <div class="card-body">
          <span class="small-label">Send To</span>
          <ion-item class="card-details">
            <ion-list class="account-logo" slot="start">
              <img src="../../../assets/chaselogo.png" alt="icon">
            </ion-list>
            <ion-label>
              <span class="small-label">Chase Bank</span>      
               <h2 class="ion-title"><div class="digi-round"></div><div class="digi-round"></div><div class="digi-round"></div><div class="digi-round"></div>5668</h2>             
            </ion-label>
          </ion-item>    
          <ion-col size="12" size-md class="small-text p-0">22 Dec, 2021, 02:03pm</ion-col>
        </div>
          <ion-col class="p-0" size="12" size-md>
            <div class="line-dash"></div>
        </ion-col>     
        <div class="card-body">
          <ion-icon class="code" src="../../../assets/code.svg"></ion-icon>
        </div>    
       </ion-list>
     
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme" expand="full" shape="round" routerLink="/portfolio-view">
    Back home
  </ion-button>
</ion-footer>
<!-- Footer Section End -->