<ion-content class="sip-created">
  <ion-list class="ion-list">
    <ion-grid class="p-0">
      <ion-row>
      <ion-col class="d-flex justify-center p-0" size="12" size-md>
          <div class="sip-done">
            <ion-icon  src="../../../assets/icon-checked.svg"></ion-icon>
          </div>
      </ion-col>
      <ion-col class="mt-5 mb-2" size="12" size-md>
        <h2 class="header-title  f-Poppins text-center">Amount Withdrawn</h2>
      </ion-col>    
        <ion-col size="12" class="text-center"  size-md>
          <h4 class="header-title text-white">₹19,006.00</h4>
          <span class="small-label ">Amount</span>
        </ion-col> 
       <ion-list class="view-sip mt-3">
        <ion-col size="12" class="pt-4 d-flex justify-center" size-md> 
            <div class="coinTag-inner">
              <div class="coinTag bg-blue">
                <ion-icon class="coin-icon" src="../../../assets/icon-bitc.svg"></ion-icon>
              </div>
              <div class="coinTag bg-greenLighter">
                <ion-icon class="coin-icon" src="../../../assets/icon-et.svg"></ion-icon>
              </div>
              <div class="coinTag bg-grey">
                <ion-icon class="coin-icon" src="../../../assets/icon-vi.svg"></ion-icon>
              </div>
            </div> 
        </ion-col>       
        <ion-row class="ion-list portfolio-price pt-2">
            55
        </ion-row>
       </ion-list>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme" expand="full" shape="round" routerLink="/portfolio-view">
    Back Home
  </ion-button>
</ion-footer>
<!-- Footer Section End -->