.themeHeader {
  background-image   : url("~src/assets/profile/profile-header-bg.svg");
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
  height             : 270px;
  display            : block;

  ion-toolbar {
    --background: transparent;
    color       : #fff !important;
  }
}

.user-profile {
  padding: 4% 2%;
}

.profile-heading {
  margin-top : 5px !important;
  font-family: var(--f-Lexend);
}

ion-content {
  ion-icon {
    font-size: 20px;
  }
}

.avatar ion-img {
  width        : 40px;
  border-radius: 50px;
}

.avatar-main ion-img {
  width        : 80px;
  border-radius: 50px;
  margin       : auto;
}

.profile-mobile {
  margin-top: -7%;
}

.list-header {
  background    : linear-gradient(to right, #116161, #116161 7%);
  padding-bottom: 0px;

  ion-col p {
    border-radius   : 40px 40px 0px 0px;
    height          : 35px;
    background-color: #fff;
    margin-bottom   : -2.5%;
    opacity         : 1;

  }
}

.profile {
  --background: var(--amplify-primary-shade);

  .ion-list {
    padding-top: 0rem;

    .first-item {
      margin-top: -3%;
    }

    ion-item {
      --padding-start           : 0px;
      --inner-padding-start     : 0px;
      --padding-end             : 0px;
      --inner-padding-end       : 0px;
      --inner-border-width      : 0px;
      border-bottom-left-radius : 0px;
      border-bottom-right-radius: 0px;
      --icon-font-size          : 0px;
      border-bottom             : 1px solid #CAC8DA;

      .item-inner {
        padding    : 15px;
        width      : 100%;
        display    : flex;
        align-items: center;

        ion-icon {
          font-size   : 30px;
          margin-right: 5%;
          margin-left : -2%;
        }

        ion-label {
          width         : 100%;
          padding-bottom: 5px;

          h6 {
            font-size    : 16px;
            color        : var(--light-black);
            font-family  : var(--f-Lexend);
            margin-bottom: 0px;
            font-weight  : 600;
            line-height  : 30px;
          }

          span {
            font-size  : 14px;
            color      : var(--light-gray);
            font-weight: 400;
            font-family: var(--f-Lexend);
          }
        }
      }
    }
  }
}
