
 <!-- Header Section Start -->
 <ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  mat-icon-button class="back-btn" defaultHref="/tabs/dashboard">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<!-- Body Section Start -->
<ion-content class="profile">
  <div class="user-profile">
    <div class="card">
      <div class="card-body">
        <div class="user-avatar">
          <img [src]="user?.kycDocuments?.selfie ? user.kycDocuments.selfie : 'assets/avatar.jpeg'" alt="Profile picture">
        </div>
        <div class="user-details">
          <h6>
            <ng-container *ngIf="user else loadingTmplt">
              {{ user.firstName }} {{ user.lastName }}
            </ng-container>
          </h6>
          <div class="small-text mt-2">
            <ion-icon src="assets/profile/icon-device-mobile.svg"></ion-icon>

            <ng-container *ngIf="user else loadingTmplt">
              {{ user.contact }}
            </ng-container>
          </div>
          <!-- <div class="small-text">
            <ion-icon src="../../../assets/profile/icon-language.svg"></ion-icon> Speaks Hindi
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <ion-list class="ion-list">
    <ion-item routerLink="/my-wallet">
      <div class="item-inner">
        <ion-icon src="../../../assets/profile/icon-wallet.svg"></ion-icon>
        <ion-label>
          <h6>My Wallet</h6>
          <span>₹19,006</span>
        </ion-label>
      </div>
    </ion-item>
    <ion-item routerLink="/bank-details">
      <div class="item-inner">
        <ion-icon src="../../../assets/profile/icon-bank.svg"></ion-icon>
        <ion-label>
          <h6>Bank accounts</h6>
          <span>Banks & AutoPay mandates</span>
        </ion-label>
      </div>
    </ion-item>
    <ion-item routerLink="/kyc-document">
      <div class="item-inner">
        <ion-icon src="../../../assets/profile/icon-kyc.svg"></ion-icon>
        <ion-label>
          <h6>KYC Verification</h6>
          <span>Verify Document</span>
        </ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="item-inner">
        <ion-icon src="../../../assets/profile/icon-help.svg"></ion-icon>
        <ion-label>
          <h6>Help</h6>
          <span>Our support team is here 24/7</span>
        </ion-label>
      </div>
    </ion-item>

    <ion-item>
      <div class="item-inner">
        <ion-icon src="../../../assets/profile/icon-setting.svg"></ion-icon>
        <ion-label>
          <h6>Settings</h6>
          <span>Manage profile settings</span>
        </ion-label>
      </div>
    </ion-item>
    <ion-item (click)="openModal()">
      <div class="item-inner">
        <ion-icon src="../../../assets/profile/icon-help.svg"></ion-icon>
        <ion-label>
          <h6>Support</h6>
          <!-- <span>Manage profile settings</span> -->
        </ion-label>
      </div>
    </ion-item>
    <ion-item>
      <div class="item-inner" (click)="signOut()">
        <ion-icon src="../../../assets/profile/icon-logout.svg"></ion-icon>
        <ion-label>
          <h6>Logout</h6>
          <span>You will be missed</span>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<!-- Body Section End -->

<ng-template #loadingTmplt>
  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
</ng-template>
