.transaction-success-fail
{
  height: calc(50vh - 0px - 100px);
  min-height: calc(50vh - 0px - 50px);
  margin: 0 auto;
  width: 75%;
}

.transaction-created-image
{
  margin: 0 auto;
}
.transaction-coins-table{
  line-height: 1.5;
}
.transaction-fail-image
{
  height: calc(50vh - 0px - 100px);
  min-height: calc(50vh - 0px - 50px);
  margin: 0 auto;
  width: 75%;
}
