<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <!-- <ion-back-button mat-icon-button class="back-btn" defaultHref="/tabs/dashboard">
        </ion-back-button> -->
        <ion-back-button mat-icon-button mode='md' defaultHref="/tabs/dashboard"><ion-icon src="../../../assets/icon/back-arrow.svg"></ion-icon></ion-back-button>
      </ion-buttons>
      <ion-label class="sip-withdraw d-flex"> <ion-button class="withdraw-link-btn" (click)="showConfirm()"><ion-icon class="text-muted-custom font-22" src="assets/icon/arrow-up-square.svg"></ion-icon> <b>Withdraw</b></ion-button> </ion-label>
      <!-- TODO: implement withdraw action -->
      <!-- <ion-button color="dark" routerLink="/withdraw-amount">
        <ion-icon class="mr-1" name="arrow-up"></ion-icon> Withdraw
      </ion-button> -->
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content class="portfolio-view">
  <ion-grid class="p-0" *ngIf="!showLoader else loadingTmplt">
    <ion-row>
      <ion-col size="12" class="pt-1" size-md>
        <ion-list class="d-flex justify-center mt-3">
          <div class="coinTag-inner">
            <app-coin-stack [coins]="packageDetails.coins" [coinList]="packageDetails.coins" [packageList]="packageDetails.coins"></app-coin-stack>
          </div>
        </ion-list>    
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class=" mt-1 pt-1 text-center" size-md>
      <!--  <h1 class="text-theme sip-amount">&#8377; 20,000</h1>
       <span class="sip-amount-subtext">Etherium (ETH)</span> -->
       <h1 class="text-theme sip-amount mt-0"><ion-icon class="font-20" src="../../../assets/icon/rupee-green.svg"></ion-icon>{{ packageDetails.totalMinimumDepositAmount }}</h1>
       <span class="sip-amount-subtext">{{ packageDetails.name }}</span>
      </ion-col>
    </ion-row>


    <ion-list>
      <!-- Show the graph based on selected period -->
      <img src="../../../assets/icon/chart.svg" width="100%" alt="img" class="sip-chart">
    </ion-list>

    <ion-list class="ion-list pb-1 pt-1">
      <ion-segment class="tabbingTheme" (ionChange)="segmentChanged($event)" value="day">
        <ion-segment-button value="day">
          <ion-label>
           1 Year
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="week">
          <ion-label>
           3 Year
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="month">
          <ion-label>
           5 Year
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="year">
          <ion-label>
           10 Year
          </ion-label>
        </ion-segment-button>
        <ion-segment-button value="all">
          <ion-label>
           All
          </ion-label>
        </ion-segment-button>
        </ion-segment>
      </ion-list>
      
      <ion-list class="ion-list portfolio-details">
        <ion-row>
          
        <!-- TODO -->
        <ion-col size="6" class="mb-1" size-md>
          <h4 class="heading-label f-Lexend mt-0"><ion-icon class="font-15" src="../../../assets/icon/rupee-black.svg"></ion-icon>19006</h4>
          <span class="small-label gray-text">Current Value</span>
        </ion-col>

        <!-- TODO -->
        <ion-col size="6" class="mb-1" size-md>
          <h4 class="heading-label f-Lexend mt-0"><ion-icon class="font-15" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{ (view === 'sip' ? sipDetails.totalAmount : 19006) | number }}
          </h4>
          <span class="small-label gray-text">Invested</span>
        </ion-col>

        <!-- TODO -->
        <ion-col size="6" class="mb-1" size-md>
          <h4 class="heading-label f-Lexend mt-0"><ion-icon class="font-15" src="../../../assets/icon/rupee-black.svg"></ion-icon>2,000.00</h4>
         <!--  <span class="small-label gray-text">Returns</span> -->
        </ion-col>

        <!-- TODO -->
        <ion-col size="6" class="mb-1" size-md>
          <h4 class="heading-label text-d-theme f-Lexend mt-0"><ion-icon class="text-muted-custom icon-up vertical-middle" src="assets/icon/arrow-up-square.svg"></ion-icon>&nbsp;+24%  <span class="small-label gray-text">(% ROI)</span></h4>

        </ion-col>
        <ion-col size="12" size-md>
          <div class="line"></div>
        </ion-col>
        <ion-col size="6" class="mt-1" size-md>
          <ng-container *ngIf="view === 'package' else intervalTmplt">
            <h6 class="smallHeading-label mt-0"><ion-icon class="font-12" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{ packageDetails.totalMinimumDepositAmount }}</h6>
            <span class="small-label"><!-- Minimum SIP Amt -->Active Plan</span>
          </ng-container>

          <ng-template #intervalTmplt>
            <h6 class="smallHeading-label mt-0">
              <ion-icon class="font-12" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{ sipDetails.installmentAmount | number }}/<span class="ion-text-capitalize">{{sipDetails.interval.type }}</span>
              </h6>
              <span class="small-label">Interval</span>
            </ng-template>
        </ion-col>

        <!-- TODO -->
        <ion-col size="6" class="mt-1" size-md>
          <h6 class="smallHeading-label text-dark mt-0">21 Jun, 2021</h6>
          <span class="small-label">Next Investment</span>
        </ion-col>
      </ion-row>
      
      <ion-row class="mt-1 mb-4">
        <ng-container *ngIf="canStartSIP else SIPPrerequisiteMessageTmplt">
          <ion-col size="12" size-md>
            <!-- TODO:  provide edit SIP option -->
            <ion-button class="ion-button-theme" shape="round" expand="full" (click)="openSIPStep()">
              {{ view === 'package' ? 'Add' : 'Edit' }} SIP
            </ion-button>
          </ion-col>
        </ng-container>

        <ng-template #SIPPrerequisiteMessageTmplt>
          <div class="bg-danger-light p-4 prerequisite-message">
            To create SIP, please complete
            <span *ngFor="let pendingVerification of pendingVerificationList; let last = last;">
              <a [routerLink]="pequiredVerificationData[pendingVerification].link"
                [queryParams]="pequiredVerificationData[pendingVerification].queryParams"
                class="text-dark verification-link"><b>{{ pendingVerification }}</b></a>
              <ng-container *ngIf="!last">, </ng-container>
            </span>
            verification process
          </div>
        </ng-template>

      </ion-row>
    </ion-list>
  </ion-grid>

  <ng-template #loadingTmplt>
    <app-loading-skeleton></app-loading-skeleton>
  </ng-template>
</ion-content>
