.themeHeader {
  ion-toolbar{
    background-color: var(--lighter-gray);
  }
  ion-button {
    margin: 0px;
    line-height: 0px;
    height: 36px;
    font-size: 14px;
    --border-radius: 6px;
    font-weight: 400;
    font-family: var(--f-Lexend);
    --ion-color-base: #2F4858 !important;
    letter-spacing: .08px;
  }
  ion-icon{
    font-size: 18px;
    margin-top: 2%;
    padding-left: 2%;
  }
  .sip-withdraw{
    background-color: #1F2C37;
    border-radius: 10px;
    padding: 4px 6px;
    font-family: var(--f-Lexend);
    color: #fff;
    font-weight: 500;
    width: 32%;
  }
  .sip-withdraw b{
    padding-left: 7%;
    padding-top: 2%;
    font-family: var(--f-Lexend);
  }
}
.themeHeader ion-toolbar{
  --background-color: var(--lighter-gray);
}
ion-content {
  --ion-background-color: var(--lighter-gray);
}
.portfolio-view {
  .coinTag-inner
  {
    border: 0px !important;
    padding: 2px;
    display: flex;
    border-radius: 10px;
  }
  .portfolio-price {
    span {
      display: inline-block;
      width: 100%;
    }

    .Price {
      font-size: 34px;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: -1.08px;
      margin-bottom: 0px;
      margin-top: 5px;
    }

    .small-label,
    .small-text {
      font-size: 14px;
      line-height: 16px;
      text-align: left;
      color: #102E28;
    }

    .small-label {
      font-family: var(--f-Lexend);
      font-weight: 400;
    }

    .small-text {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: var(--blackColor);
    }
  }

  .tabbingTheme {
    background-color: transparent;
    padding: 8px;
    border-radius: 30px;
    ion-segment-button {
      font-size: 13px;
      color: #78828A;
      min-width: 20px;
      font-family: var(--f-Lexend);
      --padding-end: 10px;
      --padding-start: 10px;
      text-transform: inherit;
      --border-radius: 25px;
      height: 30px;
      min-height: 30px;
      margin: 1% 1.5%;
      font-weight: 400 !important;
      background-color: #ded8d838;
      --indicator-color: var(--theme-color);
      --indicator-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      &.segment-button-checked {
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        &.md{
          background-color: var(--theme-color);
         --indicator-color: inherit;
        }
      }

      &::before {
        display: none;
      }
    }
  }

  .portfolio-details {
    border-radius: 30px 30px 0px 0px;
    padding: 0rem 1.5rem;
    .small-label {
      font-size: 14px;
      line-height: 16px;
      font-family: var(--f-Lexend);
      font-weight: 400;
      text-align: left;
      opacity: 1;
      color:#1F2C37;
    }
    .heading-label {
      font-size: 22px;
      line-height: 22px;
      font-weight: 500;
      letter-spacing: -0.08px;
      opacity: 1;
      margin-bottom: 5px;
      color:#1F2C37;
    }
    .smallHeading-label{
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: -0.08px;
      margin-bottom: 5px;
      color:#1F2C37;
    }
    .line{
      width: 100%;
      height: 1px;
      background-color: #DCDCDC;
    }
    ion-icon{
      font-size: 18px;
    }
  }

  ion-button {
    margin: 0px;
    line-height: 0px;
    height: 60px;
    font-size: 16px;
    --border-radius: 12px;
    font-weight: 500;
    font-family: var(--f-Lexend);
    letter-spacing: .08px;
    --box-shadow: inherit;
  }

  .prerequisite-message {
    border-radius: 10px;
  }

  .verification-link {
    text-underline-offset: 1px;
    text-decoration-style: dotted;
  }
}

ion-content, ion-header, ion-row, ion-col {
  --ion-background-color: var(--lighter-gray);
}
.themeHeader ion-toolbar {
--background: var(--lighter-gray);
}

.sip-amount{
  font-weight: 700;
  font-family: var(--f-Lexend);
  font-size: 30px;
  margin-bottom: 1.5%;
}
.sip-amount-subtext{
  font-family: var(--f-Lexend);
  color: #1F2C37;
  font-weight: 500;
}
