.forgot-password-content {
  position: relative;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-flow: column;

  .small-label {
    font-size: 13px;
    font-weight: 400;
    color: var(--blackColor);
    font-family: var(--f-Poppins);
    margin-bottom: 0px;
    opacity: 1;
  }
  .heading {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    font-family: var(--f-Poppins);
    color: var(--blackColor);
    margin-bottom: 5px;
  }
  ion-button.ion-button-theme {
    margin: 0px;
    line-height: 0px;
    height: 60px;
    font-size: 18px;
    --border-radius: 12px;
    font-weight: 500;
    font-family: var(--f-Poppins);
    letter-spacing: 0.08px;
    --box-shadow: inherit;
  }

}