<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list>
      <ion-icon src="../../../assets/icon/back-arrow.svg" routerLink="/sign-in"></ion-icon>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->

<ion-content>

  <div class="forgot-password-content">

    <h2 class="heading">Forgot your password?</h2>
    <p class="small-label">Enter your email associated with your account and we'll send a code to reset
      your password</p>

    <div class="mt-3">
      <ion-item class="customForm">
        <ion-input type="text" placeholder="Email" [formControl]="usernameCtrl"></ion-input>
      </ion-item>

      <div class="error-message"
        *ngIf="usernameCtrl.dirty && !usernameCtrl.errors?.required && (usernameCtrl.errors?.email || usernameCtrl.errors?.pattern)">
        <ul class="text-danger pl-1">
          <li>Enter valid email address</li>
        </ul>
      </div>

    </div>

    <ion-list class="p-0 mt-6">
      <ion-button class="ion-button-theme mt-4" expand="full" shape="round" type="submit"
        [disabled]="usernameCtrl.invalid || isLoading" (click)="sendInstructions()">
        <ion-spinner *ngIf="isLoading" class="size-sm mr-2"></ion-spinner>
        {{ isLoading ? 'Sending..' : 'Send code'}}
      </ion-button>
    </ion-list>

  </div>

</ion-content>
