.topHeader {
  ion-title {
    position      : inherit;
    text-align    : left;
    height        : inherit;
    left          : inherit;
    padding-right : 0px;
    padding-inline: 0;
    font-size     : 24px;
    font-family   : var(--f-Poppins);
    font-weight   : 400;
    margin-bottom : 1.5rem;
    line-height   : 28px;
  }
}

.ion-list {
  ion-item {
    --padding-start      : 0px;
    --inner-padding-start: 0px;
    --padding-end        : 0px;
    --inner-padding-end  : 0px;
    --border-width       : 0px;
    --inner-border-width : 0px;
    --background         : var(--bg-lighter);
    border-radius        : 10px;
    margin-bottom        : .8rem;
    --icon-font-size     : 0px;

    .item-inner {
      padding    : 15px;
      width      : 100%;
      display    : flex;
      align-items: center;

      ion-icon {
        font-size   : 30px;
        margin-right: 10px;
      }

      ion-label {
        width: 90%;

        h6 {
          font-size    : 18px;
          color        : var(--blackColor);
          font-family  : var(--f-Poppins);
          margin-bottom: 0px;
          font-weight  : 600;
          line-height  : 22px;
        }

        span {
          font-size  : 14px;
          color      : var(--blackColor);
          font-weight: 400;
        }
      }

      ion-text {
        font-family: var(--f-Poppins);
        font-size  : 14px;

        br {
          display: none;
        }

        .fa-icon.size-sm {
          font-size: 12px;


        }
      }
    }
  }
}
