.circle-container{
  display: flex;
  justify-content: center;
}
.prec{
  top: 35%;
  position: relative;
}

.circle{
  position: relative;
  top: 5px;
  left: 5px;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: white;
}

.active-border{
  position: relative;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;

  background-color:var(--ion-color-primary);
  background-image:
      linear-gradient(162deg, transparent 100%, white 50%),
      linear-gradient(90deg, white 50%, transparent 50%);
  
}

.sliding-goal-card {
  min-width: 90%;
}

.current-completion-text {
  position: absolute; 
  top: 50%; 
  bottom: auto; 
  left: 50%; 
  transform: translateY(-50%) translateX(-50%); 
  font-size: .7rem;
}

ion-col.progress-container {
  max-height: 70px;
}

round-progress{

  margin-left: auto;
  margin-right: auto;

  &.completed {
    max-width:80px
  }
}