.themeHeader{
  .menuLeft {
    background-color: rgba($color: #EFF7ED, $alpha: 1);
    color: #fff;
    ion-icon {
      stroke: #2F4858;
    }
  }
  ion-button {
    margin: 0px;
    line-height: 0px;
    height: 36px;
    font-size: 14px;
    --border-radius: 6px;
    font-weight: 400;
    font-family: var(--f-Poppins);
    --ion-color-base: #2F4858 !important;
    letter-spacing: .08px;
  }
  ion-toolbar{
    --background: var(--lighter-gray);
  }
  .analytics{
    background: var(--lighter-gray);
  }
}

ion-content {
  --ion-background-color: var(--lighter-gray);
}

.portfolio {
  .myPortfolio {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 20px 50px 0px #0000001c;
    -moz-box-shadow: 0px 20px 50px 0px #0000001c;
    box-shadow: 0px 20px 50px 0px #0000001c;
    background-color: #fff;
    margin-bottom: 1.5rem;

    &::after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: -20px;
      width: 92%;
      height: 50px;
      background-color: var(--theme-color);
      z-index: -1;
      border-radius: 15px;
    }

    .card-body {
      display: inline-block;
      padding:  15px;
      position: relative;
      z-index: 1;
      width: 100%;
      font-family: var(--f-Lexend);
      .line-draw {
        font-size: 70px;
        height: 40px;
      }
      .small-label {
        font-size: 14px;
        opacity: 0.6;
        line-height: 16px;
        font-family: var(--f-Lexend);
        font-weight: 500;
        text-align: left;
        color: #000;
      }
      .myPrice {
        font-size: 30px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -1.08px;
        margin-bottom: 5px;
        font-family: var(--f-Lexend);
      }
      .invest-list {
        padding: 0px;
        font-family: var(--f-Lexend);
    }
    .invest-list h6{
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 0px;
      font-family: var(--f-Lexend);
    }
    }
  }
}
.topHeader{
  position: inherit;
  text-align: left;
  height: inherit;
  left: inherit;
  padding-right: 0px;
  padding-inline: 0;
  font-size: 26px;
  font-family: var(--f-Lexend);
  font-weight: 500;
  margin-bottom: 0.8rem;
  line-height: 28px;
}
//  Popular Coin Card Start
.popularSection {
  ion-col {
    padding: 0px 0px;
  }
}
.withdrawal-status
{
  position: absolute;
  bottom: 1.8%;
  color: #fff;
  width: 90%;
  text-align: center;
}
.myPortfolio-list-completed {
  margin-bottom: 1%;
  &::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 1px;
    width: 92%;
    height: 50px;
    background: linear-gradient(to right, #2b7979a3 , #57b1b1a3);
    z-index: -1;
    border-radius: 15px;
  }
}

.myPortfolio-list-inprogress {
  margin-bottom: 1%;
  &::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 1px;
    width: 92%;
    height: 50px;
    background: linear-gradient(to right, #f89c2ca6 , #e7b981a6);
    z-index: -1;
    border-radius: 15px;
  }
}
.myPortfolio-list-failure {
  margin-bottom: 1%;
  &::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 1px;
    width: 92%;
    height: 50px;
    background:linear-gradient(to right, #e43333ad , #eb6969ad);
    z-index: -1;
    border-radius: 15px;
  }
}

//  Popular Coin Card End
