.themeHeader{
  background-image: url("~src/assets/portfolio-heading.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  display: block;
  ion-toolbar{
    --background:transparent;
    color: #fff !important;
  }
}

.portfolio {
  .myPortfolio {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    
    .card-body {
      display: inline-block; 
      padding:  15px 0 0;
      position: relative;
      z-index: 1;
      width: 100%;
      .line-draw {
        font-size: 70px;
        height: 40px;
      } 
 
      .small-label {
        font-size: 14px;
        opacity: 0.6;
        line-height: 16px;
        font-family: var(--f-Poppins);
        text-align: left;
        color: #000;
      }
      .myPrice {
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: -1.08px; 
        margin-bottom: 5px; 
      }
      .invest-list {
        padding: 0px;
        margin-top: 10px;
      }
      .invest-list h6{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500; 
        margin-bottom: 0px;
      }
    }
  }
}
.topHeader{  
  position: inherit;
  text-align: left;
  height: inherit;
  left: inherit;
  padding-right: 0px;
  padding-inline: 0;
  font-size: 20px;
  font-family: var(--f-Poppins);
  font-weight: 700;
  margin-bottom: 0.8rem;
  line-height: 28px;
}
//  Popular Coin Card Start
.popularSection {
  ion-col {
    padding: 5px 15px;
  }
}

.cardShadow {
  background: #FDFDFD;
  box-shadow: 0px -15px 15px #ecf1f6;
  border-radius: 32px;
  padding: 0px 5px;
}

.popularSection {
  .ion-list {
    padding: 10px 0px !important;
  }
}
.list-ios {
  background:transparent;
}
//  Popular Coin Card End