<!-- Header Section Start -->
<ion-header class="themeHeader">
  <div class="user-profile">
    <ion-toolbar>
      <ion-list class="d-flex justify-between align-center">
        <ion-icon class="font-20" src="../../../assets/category.svg"></ion-icon>
        <ion-button color="dark" size="small" routerLink="/analytics">
          Analytics
        </ion-button>
      </ion-list>
    </ion-toolbar>
    <ion-list class="portfolio ion-list">
      <ion-title class="topHeader">My portfolio</ion-title>
      <ion-col size="12" class="p-0 myPortfolio">
        <div class="card-body">
          <div class="d-flex justify-between">
            <div>
              <h4 class="myPrice text-d-theme pb-2">₹ 19,006</h4>
            </div>
          </div>
          <ion-grid class="invest-list mt-3">
            <ion-row class="w-100">
              <ion-col size="6" class="p-0" size-md>
                <h6 class="text-dark">₹ 19,206.00</h6>
                <small class="small-label">Total Invested</small>
              </ion-col>
              <ion-col size="6" class="p-0" size-md>
                <h6 class="text-dark">₹ 2,000.00</h6>
                <small class="small-label">Total Returns</small>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-list>
  </div>
</ion-header>
<!-- Header Section End -->

<!-- Body Section Start -->
<ion-content class="popularSection basket">
  <ion-list class="ion-list">
    <div class="cardShadow">
      <ion-col size="12" class="themeHeading p-0">
        <h6 class="p-3 pb-1">MY INVESTMENTS</h6>
      </ion-col>
      <ion-col size="12" class="p-0">
        <ng-container *ngIf="!showLoader else loadingTmplt">
          <ion-row *ngIf="sipList?.length else noSIPsTmplt">
            <ion-col *ngFor="let sip of sipList" size="12" size-md>
              <app-package-card
                [package]="sip"
                [view]="'sip'"
                [navigationLink]="'/sip/' + sip._id"
              ></app-package-card>
            </ion-col>
          </ion-row>
          <ng-template #noSIPsTmplt>
            <div class="ion-text-center mt-5">No SIPs started yet</div>
          </ng-template>
        </ng-container>

        <ng-template #loadingTmplt>
          <app-loading-skeleton></app-loading-skeleton>
        </ng-template>
      </ion-col>
    </div>
  </ion-list>
</ion-content>
<!-- Body Section End -->
