<ion-content>
  <div class="page-container">
    <div class="page-header-container">
      <button mat-icon-button class="back-btn" (click)="onBack()">
        <fa-icon class="fa-icon color-primary" icon="chevron-left"></fa-icon>
      </button>
      <h2 class="m-0 color-primary">{{CONSTANT.BANK_VERIFICATION_LABEL}}</h2>
    </div>
    <div class="page-body" [formGroup]="bankDetailsForm">
      <mat-form-field appearance="outline">
        <mat-label>Account holder name</mat-label>
        <input matInput placeholder="Account holder name" formControlName="holderName" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Account number</mat-label>
        <input matInput type="number" placeholder="Account number" formControlName="acNumber" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>IFSC Code</mat-label>
        <input matInput placeholder="IFSC Code" formControlName="ifscCode" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Account Type</mat-label>
        <mat-select formControlName="acType">
          <mat-option *ngFor="let type of accountTypes" [value]="type.value">
            {{type.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary" class="mt-3" (click)="onBankVerification()">Verify</button>
    </div>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</ion-content>
