<ion-tabs class="no-padding-top">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-label>
        <h1>&#x20B9;</h1>
      </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="savings">
      <ion-icon name="contacts"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
    </ion-tab-button>

    <ion-tab-button tab="investment">
      <ion-icon name="paper"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="goals">
      <ion-icon name="trophy"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>