<ion-content>
  <div class="page-container p-0">
    <div class="flex-row items-end header">
      <h2 class="header-title">Choose Plan</h2>
      <a class="link flex-row align-center">Skip <mat-icon>arrow_forward_ios</mat-icon></a>
    </div>
    <div class="plan-list">
      <div class="plan-item">
        <div class="flex-row align-start">
          <h3 class="color-primary flex-item grow">ICICI Prudential Focused Bluechip Equity Fund.</h3>
          <mat-icon class="color-primary mt-1 flex-item no-shrink">arrow_forward_ios</mat-icon>
        </div>
        <div class="flex-row align-start items-space-between">
          <div class="flex-column align-stretch flex-item no-shrink w-33">
            <span class="gray-text">Min. Invest</span>
            <span>$100</span>
          </div>
          <div class="flex-column align-stretch flex-item no-shrink">
            <span class="gray-text">Returns</span>
            <span class="green-text">+33.45%</span>
          </div>
        </div>
      </div>
      <div class="plan-item">
        <div class="flex-row align-start">
          <h3 class="color-primary flex-item grow">ICICI Prudential Focused Bluechip Equity Fund.</h3>
          <mat-icon class="color-primary mt-1 flex-item no-shrink">arrow_forward_ios</mat-icon>
        </div>
        <div class="flex-row align-start items-space-between">
          <div class="flex-column align-stretch flex-item no-shrink w-33">
            <span class="gray-text">Min. Invest</span>
            <span>$100</span>
          </div>
          <div class="flex-column align-stretch flex-item no-shrink">
            <span class="gray-text">Returns</span>
            <span class="green-text">+33.45%</span>
          </div>
        </div>
      </div>
      <div class="plan-item">
        <div class="flex-row align-start">
          <h3 class="color-primary flex-item grow">ICICI Prudential Focused Bluechip Equity Fund.</h3>
          <mat-icon class="color-primary mt-1 flex-item no-shrink">arrow_forward_ios</mat-icon>
        </div>
        <div class="flex-row align-start items-space-between">
          <div class="flex-column align-stretch flex-item no-shrink w-33">
            <span class="gray-text">Min. Invest</span>
            <span>$100</span>
          </div>
          <div class="flex-column align-stretch flex-item no-shrink">
            <span class="gray-text">Returns</span>
            <span class="green-text">+33.45%</span>
          </div>
        </div>
      </div>
      <div class="plan-item">
        <div class="flex-row align-start">
          <h3 class="color-primary flex-item grow">ICICI Prudential Focused Bluechip Equity Fund.</h3>
          <mat-icon class="color-primary mt-1 flex-item no-shrink">arrow_forward_ios</mat-icon>
        </div>
        <div class="flex-row align-start items-space-between">
          <div class="flex-column align-stretch flex-item no-shrink w-33">
            <span class="gray-text">Min. Invest</span>
            <span>$100</span>
          </div>
          <div class="flex-column align-stretch flex-item no-shrink">
            <span class="gray-text">Returns</span>
            <span class="green-text">+33.45%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 b-t-light">
      <button mat-flat-button color="primary" class="w-100 no-shrink" (click)="onNext()">Next</button>    
    </div>
  </div>
</ion-content>
