<ion-content>
  <div class="signin-content">
    <div class="login-inner">
      <div class="appLogo">
        <!-- <ion-icon class="logo w-35" src="../../../assets/logo/Prosprr-Logo-H.svg"></ion-icon> -->
        <img class="w-35" src="../../../assets/logo/Prosprr-Logo-H.svg" />
      </div>

      <h2 class="heading mb-5 mt-5">Early Access Page</h2>
      <div class="appLogo">
        <ion-img class="logo w-50" src="../../../assets/early-access.png"></ion-img>
      </div>
      <p>Hey thanks for sign up right now but this version of app is only allows early access user.</p>
    </div>
  </div>
</ion-content>
