.auth-container{
  display: inherit;
}
.login-content{
  position: relative;
  padding: 1.5rem;
  height: 100%;
  display: flex;   
  width: 100%; 
  &::after,
  &::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba($color: #fff, $alpha: .5);
    border-radius: 100%;
  }
  &::after {
    top: 20px;
    right: -90px;
  }
  &::before{
    bottom: 20px;
    left: -90px;
  }
  .login-inner{
    z-index: 1;
    position: relative;
    text-align: center;    
  .appLogo{
    display: flex;
    justify-content: center; 
    margin-bottom: 5px;
    .logo{
      font-size: 110px;
      margin-bottom: 15px;
    }
  }
  .small-text{
    font-size: 14px;
    font-weight: 600;
    color: var(--blackColor);
    font-family: var(--f-Poppins);
    margin-bottom: 5px;
  }
  .heading{
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    font-family: var(--f-Raleway);
    color: var(--blackColor);
    margin-bottom: 10px;
  }
  p{
    margin-bottom: 10px;
  }
  }
}
 
 