<ion-content>
<div class="login-content">
  <div class="login-inner">
    <div class="appLogo" *ngIf="authState !== 'signedin'"> 
      <ion-icon class="logo" src="../../../assets/logo.svg"></ion-icon>
    </div>
    <div class="small-text">
      WELCOME
    </div>
    <h2 class="heading">Login using your Email!</h2>
    <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p> -->
    <amplify-auth-container>
      <amplify-authenticator class="amplify-authenticator" *ngIf="authState !== 'signedin'" username-alias="email">
        <amplify-sign-up slot="sign-up" header-text="Sign Up to Prosprr" usernameAlias="email" [formFields]="formFields">
        </amplify-sign-up>
        <amplify-sign-in slot="sign-in" header-text="Sign In to Prosprr" usernameAlias="email"></amplify-sign-in>
      </amplify-authenticator>
    </amplify-auth-container>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</div>

</ion-content>
