
.portfolio-view {
  .header-title {
    font-size: 24px;
    font-family: var(--f-Lexend);
    font-weight: 500;
    margin-bottom: 0rem;
    line-height: 26px;
    text-align: center;
  }
  .small-label {
    font-size: 16px;
    line-height: 12px;
    font-weight: 400;
    color: var(--blackColor);
    margin-bottom: 15px;
    ion-icon {
      background-color: var( --theme-color);
      border-radius: 10px;
    }
    span {
      font-size: 18px;
      padding: 5px 0;
    }
  }
  ion-input{
    --padding-start: 10px;
    font-size: 16px;
    font-family: var(--f-Lexend);
    font-weight: 400;
    color: #000;
    /* &.has-value{
      background-color: var( --bg-lighter);
    } */
  }
  .error-message {
    --padding-start: 15px !important;
    --padding-end: 15px !important;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: var(--padding-start);
    padding-right: var(--padding-end);
  }
}

.error-message {
  width: 100%;
}
.button-solid
{
  box-shadow: none !important;
}

.currency-box {
  width: 92%;
  margin: auto;
}
.currency-chip {
  background: #F8F8F8;
  border-radius: 24px;
}

.border-box {
  border: 1px solid #F8F8F8;
  border-radius: 12px;
}
.vertical-align-super {
  vertical-align: text-top;
}

.prerequisite-message {
  border-radius: 10px;
}
