<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-button class="back-button" (click)="closeModal('dismissed')">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content class="portfolio-view">
  <ion-list class="ion-list bg-white">
    <ion-row>
      <ion-col class="p-0" size="12" size-md>
        <ion-list class="d-flex justify-center">
          <div class="coinTag-inner">
            <app-coin-stack [coins]="coins"></app-coin-stack>
          </div>
        </ion-list>
        <h2 class="header-title mt-2">Add amount</h2>
        <ion-list class="mt-2 mb-2">
          <div class="small-label text-center">step 2 of 2</div>
          <ion-progress-bar class="themeProgress" value="1"></ion-progress-bar>
        </ion-list>
        <ion-list class="mt-2 text-center">
          <ion-text class="small-label">
            &#8377; INR
          </ion-text>
          <h1 *ngIf="amount else amountPlaceholderTmplt">
            {{ amount | number : '1.0-0' }}
          </h1>
          <ng-template #amountPlaceholderTmplt>
            <h1 class="gray-text">
              Enter Amount
            </h1>
          </ng-template>
        </ion-list>
        <ion-list class="mt-2 text-center dial-pad">
          <ion-row>
            <ion-col *ngFor="let digit of [1,2,3,4,5,6,7,8,9]" size="4" size-md>
              <ion-button class="ion-button-theme-lighter" (click)="setAmount(digit)">{{ digit }}</ion-button>
            </ion-col>
            <ion-col size="4" size-md>

            </ion-col>
            <ion-col size="4" size-md>
              <ion-button class="ion-button-theme-lighter" (click)="setAmount(0)">0</ion-button>
            </ion-col>
            <ion-col size="4" size-md>
              <ion-button class="ion-button-white" (click)="setAmount('remove')">
                <ion-icon src="assets/dial-back.svg"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-list>

  <app-loading *ngIf="showLoader"></app-loading>

</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme m-0" expand="full" (click)="createSIP()" [disabled]="!isAmountValid">
    Create SIP
  </ion-button>
</ion-footer>
<!-- Footer Section End -->