<ion-content>
  <div class="signin-content">
    <div class="login-inner">
      <div class="appLogo">
        <ion-icon class="logo" src="../../../assets/logo/Prosprr-Logo-V.svg"></ion-icon>
      </div>
      <h3 class="heading text-left">Hi, Welcome Back! 👋</h3>
      <div class="small-text text-left mb-2">
        Let's continue prosppring.
      </div>

      <!-- TODO: add greeting text -->
      <!-- <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</p> -->
    </div>
    <form class="w-100 mt-3" [formGroup]="signInForm" (submit)="signIn()">
      <div class="error-message pl-0 mb-2" *ngIf="errorShow">
        <span class="text-danger">{{errorResp}}</span>
      </div>
      <ion-label class="input" position="stacked">Email address</ion-label>
      <ion-item class="customForm">
        <ion-input type="email" placeholder="Email" formControlName="username"></ion-input>
      </ion-item>
      <div class="error-message"
        *ngIf="signInForm.get('username').dirty && !signInForm.get('username').errors?.required && (signInForm.get('username').errors?.email || signInForm.get('username').errors?.pattern)" >
        <ul class="text-danger pl-1">
          <li>Enter valid email address</li>
        </ul>
      </div>
      
      <ion-label class="input" position="stacked">Password</ion-label>
      <ion-item class="customForm">
        <ion-input [type]="passwordType" placeholder="Password" formControlName="password"></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="error-message" [innerHTML]="passwordRequirementMessage"
        *ngIf="signInForm.get('password').dirty && !signInForm.get('password').errors?.required && signInForm.get('password').errors?.password">
        <!-- {{ passwordRequirementMessage }} -->
      </div>

      <ion-list class="p-0 text-right">
        <a routerLink="/forgot-password" class="link-dark font-weight-600"> Forgot Password?</a>
      </ion-list>
      <ion-list class="p-0 mt-3">
        <ion-button class="ion-button-theme" type="submit" expand="full" shape="round" [disabled]="signInForm.invalid || isLoading">
          <ion-spinner *ngIf="isLoading" class="size-sm mr-2"></ion-spinner>
          {{ isLoading ? 'Logging in..' : 'Log in' }}
        </ion-button>

        <ion-list class="mt-3 p-0 text-center small-text">
          Don't have an account? <ion-router-link class="link-primary" routerLink="/sign-up"><strong> Sign up!</strong></ion-router-link>
        </ion-list>
      </ion-list>
    </form>
  </div>
</ion-content>
