.signin-content {
  position: relative;
  padding: 1.5rem;
  display: flex;
  width: 100%;
  flex-flow: column;
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    border-radius: 100%;
  }
  &::after {
    top: 20px;
    right: -90px;
  }
  &::before {
    bottom: 20px;
    left: -90px;
  }
  .login-inner {
    z-index: 1;
    position: relative;
    text-align: center;
    .appLogo {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      .logo {
        font-size: 110px;
        margin-bottom: 10px;
      }
    }
    .small-text {
      font-size: 12px;
      font-weight: 400;
      color: var(--blackColor);
      font-family: var(--f-Poppins);
      margin-bottom: 0px;
    }
    .heading {
      font-size: 24px;
      font-weight: 800;
      line-height: 24px;
      font-family: var(--f-Raleway);
      color: var(--blackColor);
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
  }
  ion-label {
    margin: 0px 0px 5px 0px !important;
    font-family: var(--f-Poppins);
    text-transform: capitalize;
    font-weight: 600 !important;
  }
  .customForm {
    ion-icon{
      position: absolute;
      top: 25%;
      z-index: 100;
      right: 3%;
    }
  }

  ion-button {
    margin: 0px;
    line-height: 0px;
    height: 60px;
    font-size: 18px;
    --border-radius: 12px;
    font-weight: 500;
    font-family: var(--f-Poppins);
    letter-spacing: 0.08px;
    --box-shadow: inherit;
  }
  .small-text {
    font-size: 15px;
    color: #000;
    font-family: var(--f-Poppins);
    margin-bottom: 1rem;
    .link-dark {
      font-weight: 800;
    }
  }

  .mt-6 {
    margin-top: 3rem;
  }
}

