<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-button class="back-button" (click)="closeModal('dismissed')">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content class="portfolio-view">
  <ion-list class="ion-list bg-white">
    <ion-row>
      <ion-col class="p-0" size="12" size-md>
        <ion-list class="d-flex justify-center">
          <div class="coinTag-inner">
            <app-coin-stack [coins]="coins"></app-coin-stack>
          </div>
        </ion-list>
        <h2 class="header-title mt-3">Choose plan frequency</h2>
        <ion-list class="mt-3 mb-3">
          <div class="small-label text-center">step 1 of 2</div>
          <ion-progress-bar class="themeProgress" value="0.5"></ion-progress-bar>
        </ion-list>
        <ion-list class="mt-3">
          <ion-segment class="tabbingTheme" (ionChange)="onSelectFrequency($event)" [value]="selectFrequency">
            <ion-segment-button value="daily">
              <ion-label>
                Daily
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="weekly">
              <ion-label>
                Weekly
              </ion-label>
            </ion-segment-button>
            <ion-segment-button value="monthly">
              <ion-label>
                Monthly
              </ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-list>
        <ion-list class="mt-2" *ngIf="selectFrequency === 'weekly'">
          <ion-grid class="p-0">
            <ion-row>

              <ion-col *ngFor="let day of week" size="6" size-md>
                <ion-button class="day-select text-capitalize" [class.active]="selectedDay===day" expand="full"
                  shape="round" (click)="onSelectDay(day)">
                  <ion-text class="text-capitalize">{{ day }}</ion-text>
                </ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-list>
        <ion-list class="mt-2" *ngIf="selectFrequency === 'monthly'">
          <ion-datetime presentation="date" [min]="startOfMonth" [max]="endOfMonth" [(ngModel)]="monthlyDate"
            (ionChange)="onSelectDate($event)" class="ion-text-center">
          </ion-datetime>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme m-0" expand="full" (click)="openNextStep()"
    [disabled]="!isFrequencyValid">
    Next
  </ion-button>
</ion-footer>
<!-- Footer Section End -->