<ion-content>
  <div class="page-container">
    <div class="flex-row w-100 align-center no-shrink p-relative mb-5">
      <button mat-icon-button class="back-btn" (click)="onBack()">
        <fa-icon class="fa-icon color-primary" icon="chevron-left"></fa-icon>
      </button>
      <h2 class="header-title color-primary mb-0">Choose Your Plan Frequency</h2>
    </div>
    <div class="frequency-container">
      <div class="flex-row align-center items-space-between b-b-light pb-5">
        <div class="chip-btn" [ngClass]="{active: selectFrequency==='daily'}" (click)="onSelectFrequency('daily')">Daily
        </div>
        <div class="chip-btn" [ngClass]="{active: selectFrequency==='weekly'}" (click)="onSelectFrequency('weekly')">
          Weekly</div>
        <!-- <div class="chip-btn" [ngClass]="{active: selectFrequency==='15Day'}" (click)="onSelectFrequency('15Day')">15Day</div> -->
        <div class="chip-btn" [ngClass]="{active: selectFrequency==='monthly'}" (click)="onSelectFrequency('monthly')">
          Monthly</div>
      </div>
      <div class="week" *ngIf="selectFrequency==='weekly'">
        <div class="col-4" *ngFor="let day of week">
          <div class="chip-btn m-2" [ngClass]="{'green-bg': selectedDay===day}" (click)="onSelectDay(day)">{{day}}</div>
        </div>
      </div>
      <app-calendar *ngIf="selectFrequency==='monthly'"></app-calendar>
    </div>
    <button mat-flat-button color="primary" class="w-100 mt-4 no-shrink" (click)="onGoDashboard()">Next</button>
  </div>
</ion-content>
