<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-button class="back-button" (click)="closeModal('dismissed')">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content class="portfolio-view">
  <ion-list class="ion-list bg-white">
    <ion-row>
      <ion-col class="p-0" size="12" size-md>
        <ion-list class="d-flex justify-center p-1">
          <div class="coinTag-inner">
            <app-coin-stack [coins]="coins"></app-coin-stack>
          </div>
        </ion-list>
        <h2 class="header-title mt-3">How frequently would you like to invest?</h2>
        <ion-list class="mt-3 mb-3">
          <div class="small-label text-center">Step {{ stepperSteps === 'planFrequency' ? 1 : 2 }} of 2</div>
          <ion-progress-bar class="themeProgress" [value]="stepperSteps === 'planFrequency' ? 0.50 : 1"></ion-progress-bar>
        </ion-list>
      <!--   <div *ngIf="stepperSteps === 'tenure'">
          <ion-list class="mt-3">
            <ion-segment class="tabbingTheme">
              <ion-label>
                Select tenure
              </ion-label>
            </ion-segment>
          </ion-list>
          <ion-list class="mt-2">
            <ion-grid class="p-0">
              <ion-row>
                <ion-col *ngFor="let tenure of tenureYears; let i = index;" size="6" size-md>
                  <ion-button class="day-select text-capitalize" [class.active]="selectedTenure===tenure"
                    expand="full" shape="round" (click)="onSelectTenure(i)">
                    <ion-text class="text-capitalize">{{ tenure }}</ion-text>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
        </div> -->
        <div *ngIf="stepperSteps === 'planFrequency'">
          <ion-list class="mt-3">
            <ion-segment class="tabbingTheme" (ionChange)="onSelectFrequency($event)" [value]="selectFrequency">
              <ion-segment-button value="daily">
                <ion-label>
                  Daily
                </ion-label>
              </ion-segment-button>
              <ion-segment-button value="weekly">
                <ion-label>
                  Weekly
                </ion-label>
              </ion-segment-button>
              <ion-segment-button value="monthly">
                <ion-label>
                  Monthly
                </ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-list>
          <ion-list class="mt-2" *ngIf="selectFrequency === 'weekly'">
            <ion-grid class="p-0">
              <ion-row>
                <ion-col *ngFor="let day of week" size="6" size-md>
                  <ion-button class="day-select text-capitalize" [class.active]="selectedDay===day" expand="full"
                    shape="round" (click)="onSelectDay(day)">
                    <ion-text class="text-capitalize">{{ day }}</ion-text>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
         <!--  <ion-row class="mt-2 answer" *ngIf="selectFrequency === 'monthly'">
            <ion-item class="mainDay answer-radio" *ngFor='let in of counter() ;let i = index'>
              <input type="radio" class="answer-element" mode="md" item-left value="{{i+1}}">
              <label class="radio-label">{{i+1}}</label>
            </ion-item>
         </ion-row> -->
         <ion-row class="answer" *ngIf="selectFrequency === 'monthly'">
          <ion-item class="answer-radio" *ngFor='let in of counter() ;let i = index'>
            <input type="radio" class="space" id="answer-{{i+1}}" name="answer-element" value="{{i+1}}" #update_day (click)="updateDay(update_day.value)" [checked]="currentDay==i+1 ? true : false" >
            <label for="answer-{{i+1}}" class="radio-label"><span *ngIf="i < 9">0</span>{{i+1}}</label>
          </ion-item>
        </ion-row>
          <!-- <ion-list class="mt-2" *ngIf="selectFrequency === 'monthly'">
            <ion-datetime presentation="date" class="ion-color ion-color-danger datetime-presentation-date-time datetime-size-fixed hydrated datetime-ready" [min]="startOfMonth" [max]="endOfMonth" [(ngModel)]="monthlyDate"
              (ionChange)="onSelectDate($event)" class="ion-text-center">
            </ion-datetime>
          </ion-list> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme m-0" expand="full" (click)="openNextStep()"
    [disabled]="!isFrequencyValid">
    Next
  </ion-button>
</ion-footer>
<!-- Footer Section End -->
