<ng-container [ngSwitch]="true">

  <div class="card bg-white" *ngSwitchCase="view === 'package' || view === 'sip'" [routerLink]="navigationLink">
    <div class="card-body">
      <div class="d-flex align-center justify-between w-100 mb-2">
        <app-coin-stack [coins]="packageList"></app-coin-stack>

        <div class="d-flex align-center">
          <div class="text-right mr-2 right-section" *ngIf="view === 'sip'">
            <div class="small-label text-dark">
              <span class="text-dark font-weight-600">
                <ion-icon class="font-10" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{
                package.installmentAmount | number }}/<span class="ion-text-capitalize">{{ package.interval.type
                  }}</span>
              </span>
            </div>
          </div>
          <a class="view-icon mt-2" [routerLink]="navigationLink">
            <ion-icon name="chevron-forward-outline" src="assets/icon/arrow-right.svg"></ion-icon>
          </a>
        </div>
      </div>
      <div class="small-label text-dark">{{ packageObj.name }}</div>
      <div class="align-center justify-between mt-2">
        <ion-row class="pl-0 ml-0">
          <ion-col size="6" class="pl-0">
            <div class="small-label text-muted-custom">
              Min Invest
            </div>
            <h4 class="Price text-dark ion-text-left">
              <ion-icon class="font-12" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{
              (totalMinimumDepositAmount!=0 ? totalMinimumDepositAmount : packageObj.totalMinimumDepositAmount) | number
              }}
            </h4>
          </ion-col>
          <ion-col size="6">
            <div class="text-right p-0 char-custom-css">
              <img class="line-draw-full" *ngIf="chartHide" src="assets/icon/chart.svg" alt="img">
              <canvas class="w-100" *ngIf="!chartHide" #lineCanvas></canvas>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div class="card bg-white" *ngSwitchCase="view === 'coin'" [routerLink]="navigationLink">
    <div class="card-body pb-0">
      <div class="d-flex align-center justify-between w-100 mb-3">
        <app-coin-stack [coins]="coinList"></app-coin-stack>
        <div class="small-text popular-currency text-dark" *ngIf="package.isPopular">
          popular
        </div>
      </div>
      <div class="small-label currncy-name">{{ package.coins[0].currencyId.fullName }}</div>
      <div class="d-flex align-end">
        <h4 class="Price">
          <ion-icon class="font-12" src="../../../assets/icon/rupee-black.svg"></ion-icon>19,006
        </h4>
        <span class="small-label ml-2">{{ package.coins[0].currencyId.code }}</span><br>
      </div>
      <div class="d-flex">
        <ion-icon class="text-d-theme icon-up mt-2 pt-1" src="assets/icon/arrow-up-square.svg"></ion-icon>
        <span class="change-percentage ml-2 mt-2 pt-1">0.7%</span>
      </div>
    </div>
    <div class="mt-1">
      <img class="line-draw-full" *ngIf="chartHide" src="assets/icon/chart.svg" alt="img">
      <canvas class="w-100" *ngIf="!chartHide" #lineCanvas></canvas>
    </div>
  </div>
</ng-container>
