
.line-draw
{
  width: 80% !important;
}
.line-draw-full
{
  width: 100% !important;
  margin-top: -20%;
  margin-bottom: -10%;
}
.popularSection .card .card-body
{
  padding: 1px 12px !important;
}

