<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex">
      <ion-buttons>
        <ion-back-button mat-icon-button mode='md' defaultHref='/sip/{{id}}'></ion-back-button>
      </ion-buttons>
      <ion-label class="mv-auto"> <b>Transactions list</b> </ion-label>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content class="siptransactionSection">
  <div class="pl-4 pr-4 pt-0 pb-2">
    <ion-grid class="p-0">
      <ion-row>
        <ion-segment class="tabbingTheme" (ionChange)="segmentChanged($event)" value="buy">
          <ion-segment-button value="buy">
            <ion-label>
              Buy
            </ion-label>
          </ion-segment-button>
          <ion-segment-button value="sell">
            <ion-label>
              Sell
            </ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-row>
    </ion-grid>
  </div>
  <ion-list class="ion-list">
    <ion-grid class="p-0" *ngIf="segment === 'buy'">
      <ion-list class="ion-list">
        <div *ngIf="transactionList?.length else notransactionTemplate">
          <ion-item *ngFor="let transaction of transactionList; index as i">
            <div class="item-inner">
              <ion-row class="w-100">
                <ion-col class="p-0" size="5" size-md>
                  <h2 class="ion-title">{{ transaction.symbol | uppercase }}</h2>
                  <span class="small-label font-12">{{ transaction.createdAt | date }}</span>
                </ion-col>
                <ion-col class="p-0 text-center" size="4" size-md>
                  <h2 class="ion-title">{{ transaction.quantity }}</h2>
                  <span class="small-label font-12">Qty</span>
                </ion-col>
                <ion-col class="p-0 text-right align-center justify-end" size="3" size-md>
                  <h4 class="priceTage mt-1">
                    <ion-icon class="font-14" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{
                    transaction.amount | number:'1.2-2' }}
                  </h4>
                  <span class="small-label completed-status font-12" *ngIf="transaction.status=='done'">Completed</span>
                  <span class="small-label in-progress-status font-12" *ngIf="transaction.status!='done'">In
                    progress</span>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </div>
      </ion-list>
      <ng-template #notransactionTemplate>
        <ion-list class="p-3">
          <ion-grid>
            <ion-row class="w-100">
              <ion-col class="p-0 text-center" size="12" size-md>
                <div class="mt-2">
                  No transactions available
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ng-template>
    </ion-grid>
    <ion-grid class="p-0" *ngIf="segment === 'sell'">
      <ion-list class="ion-list">
        <div *ngIf="transactionList?.length else notransactionTemplate">
          <ion-item *ngFor="let transaction of transactionList; index as i">
            <div class="item-inner">
              <ion-row class="w-100">
                <ion-col class="p-0" size="5" size-md>
                  <h2 class="ion-title">{{ transaction.symbol | uppercase }}</h2>
                  <span class="small-label font-12">{{ transaction.createdAt | date }}</span>
                </ion-col>
                <ion-col class="p-0 text-center" size="4" size-md>
                  <h2 class="ion-title">{{ transaction.quantity }}</h2>
                  <span class="small-label font-12">Qty</span>
                </ion-col>
                <ion-col class="p-0 text-right align-center justify-end" size="3" size-md>
                  <h4 class="priceTage mt-1">
                    <ion-icon class="font-14" src="../../../assets/icon/rupee-black.svg"></ion-icon>{{
                    transaction.amount | number:'1.2-2' }}
                  </h4>
                  <span class="small-label completed-status font-12" *ngIf="transaction.status=='done'">Completed</span>
                  <span class="small-label in-progress-status font-12" *ngIf="transaction.status!='done'">In
                    progress</span>
                </ion-col>
              </ion-row>
            </div>
          </ion-item>
        </div>
      </ion-list>
      <ng-template #notransactionTemplate>
        <ion-list class="p-3">
          <ion-grid>
            <ion-row class="w-100">
              <ion-col class="p-0 text-center" size="12" size-md>
                <div class="mt-2">
                  No transactions available
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ng-template>
    </ion-grid>
  </ion-list>
</ion-content>
