<ion-content class="sip-created">
  <ion-list class="ion-list">
    <ion-grid class="p-0">
      <ion-row>
        <ion-col class="d-flex justify-center p-0" size="12" size-md>
          <div class="sip-done">
            <ion-icon src="assets/icon-checked.svg"></ion-icon>
          </div>
        </ion-col>
        <ion-col class="mt-5 mb-2" size="12" size-md>
          <h2 class="header-title  f-Poppins text-center">SIP Created</h2>
        </ion-col>
        <ion-col size="6" class="pl-5" size-md>
          <h4 class="header-title text-white"><ion-icon class="font-15" src="../../../assets/icon/rupee-white.svg"></ion-icon>{{ sipData.installmentAmount }}</h4>
          <span class="small-label ">Amount</span>
        </ion-col>
        <ion-col size="6" class="pl-5" size-md>
          <h4 class="header-title text-white f-Poppins text-capitalize">{{ sipData.interval.type }}</h4>
          <span class="small-label ">Interval</span>
        </ion-col>
        <ion-list class="view-sip mt-3">
          <ion-col size="12" class="pt-4 d-flex justify-center" size-md>
            <div class="coinTag-inner">
              <app-coin-stack [coins]="coins"></app-coin-stack>
            </div>
          </ion-col>
          <ion-row class="ion-list portfolio-price pt-2">
            <!-- <ion-col size="12" class="p-0" size-md>
              <div class="Price text-center">₹19,006</div>
              <span class="small-text text-center">Etherium (ETH)</span>
            </ion-col> -->
            <ion-col size="4" class="p-0" size-md>
              <span class="small-label">Coin</span>

              <span *ngFor="let coin of sipData.package.coins" class="small-text">
                {{ coin.currencyId.fullName }} <!-- ({{ coin.currencyId.code }}) -->
              </span>
            </ion-col>

            <!-- TODO: amount per currency -->
            <ion-col size="5" class="p-0 pl-3" size-md>
              <span class="small-label">Price</span>

              <span *ngFor="let coin of sipData.package.coins" class="small-text ">
                <ion-icon class="font-15" src="../../../assets/icon/rupee-white.svg"></ion-icon>{{ (sipData.installmentAmount * coin.allocation / 100) | number: '1.2-2' }}
              </span>
            </ion-col>

            <ion-col size="3" class="p-0 pl-2" size-md>
              <span class="small-label ">Weight</span>

              <span *ngFor="let coin of sipData.package.coins" class="small-text ">
                {{ coin.allocation }}%
              </span>
            </ion-col>
          </ion-row>
        </ion-list>

        <ion-col>
          <ion-list class="ion-text-center mt-3"
            *ngIf="newSIP?.mandate?.id && mandateStatus === SIPStatus.SIGNING_SUCCESS">
            <div class="text-white font-bold">
              Congratulations!
              <br>
              eSign Successful
            </div>
          </ion-list>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-list>

  <app-loading *ngIf="showLoader"></app-loading>

</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn">
  <ion-button class="footerTab ion-button-theme m-0" expand="full" routerLink="/tabs/dashboard"
    (click)="handleFooterButtonClick()">
    {{ mandateStatus === SIPStatus.SIGNING_SUCCESS ? 'Back home' : ((mandateStatus === SIPStatus.SIGNING_FAILED ? 'Re-'
    : '') + 'Initiate eSign') }}
  </ion-button>
</ion-footer>
<!-- Footer Section End -->
