.sip-success-fail {
  background: var(--lighter-gray) !important;
}

.sip-created-image {
  margin: 0 auto;
}

.sip-coins-table {
  line-height: 1.5;
}

.sip-fail-image {
  height    : calc(50vh - 0px - 100px);
  min-height: calc(50vh - 0px - 50px);
  margin    : 0 auto;
  width     : 75%;
}
