.topHeader {
  ion-title {
    position: inherit;
    text-align: left;
    height: inherit;
    left: inherit;
    padding-right: 0px;
    padding-inline: 0;
    font-size: 24px;
    font-family: var(--f-Poppins);
    font-weight: 400;
    margin-bottom: 1.5rem;
    line-height: 28px;
  }
}