<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mat-icon-button class="back-btn" defaultHref="/tabs/profile">
      </ion-back-button>
    </ion-buttons>

    <!-- don't allow use to edit the bank details once verified -->
    <!-- <ion-buttons slot="end">
      <ion-button slot="end" (click)="toggleMode()">
        <ion-icon [name]="mode === 'view' ? 'create' : 'close'" [class.text-d-theme]="mode === 'view'"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content class="addBank">
  <ion-list class="ion-list">
    <ion-grid class="topHeader bg-white p-0">
      <ion-title>Bank Account</ion-title>
    </ion-grid>

    <ng-container *ngIf="!isLoading else loadingTmplt">

      <ng-container [ngSwitch]="mode">

        <ng-container *ngSwitchCase="'edit'">
          <form *ngIf="bankDetailsForm" (ngSubmit)="save()" [formGroup]="bankDetailsForm" class="w-100">

            <ion-item class="customForm">
              <ion-label position="stacked">Bank Name</ion-label>
              <ion-input placeholder="Type here" formControlName="bankName"></ion-input>
            </ion-item>

            <ion-item class="customForm">
              <ion-label position="stacked">ACCOUNT HOLDER NAME</ion-label>
              <ion-input placeholder="Type here" formControlName="holderName"></ion-input>
            </ion-item>

            <ion-item class="customForm">
              <ion-label position="stacked">BANK ACCOUNT NUMBER</ion-label>
              <ion-input placeholder="Type here" formControlName="accountNumber"></ion-input>
            </ion-item>
            <div class="error-message"
              *ngIf="bankDetailsForm.controls.accountNumber.touched && !bankDetailsForm.controls.accountNumber.errors?.required && bankDetailsForm.controls.accountNumber.errors?.pattern">
              Account number should contain 9 to 18 digits
            </div>

            <ion-item class="customForm">
              <ion-label position="stacked">IFSC CODE</ion-label>
              <ion-input placeholder="Type here" formControlName="IFSC"></ion-input>
            </ion-item>
            <div class="error-message"
              *ngIf="bankDetailsForm.controls.IFSC.touched && !bankDetailsForm.controls.IFSC.errors?.required && bankDetailsForm.controls.IFSC.errors?.pattern">
              Please enter a valid IFSC code
            </div>

            <ion-item class="customForm">
              <ion-label position="stacked">ACCOUNT TYPE</ion-label>
              <ion-select interface="action-sheet" cancel-text="Account Type"
                placeholder="Select account type.." formControlName="accountType">
                <ion-select-option *ngFor="let type of accountTypes" [value]="type.value">
                  {{ type.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </form>
        </ng-container>

        <ng-container *ngSwitchCase="'view'">

          <ion-item class="customForm mb-0">
            <ion-label>
              ACCOUNT HOLDER NAME
              <p>{{ bankDetails.holderName }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="customForm mb-0">
            <ion-label>
              BANK ACCOUNT NUMBER
              <p>{{ bankDetails.accountNumber }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="customForm mb-0">
            <ion-label>
              IFSC CODE
              <p>{{ bankDetails.IFSC }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="customForm mb-0">
            <ion-label>
              ACCOUNT TYPE
              <p>{{ accountTypeLabel }}</p>
            </ion-label>
          </ion-item>

        </ng-container>

      </ng-container>

    </ng-container>

  </ion-list>
</ion-content>
<!-- Footer Section Start -->
<ion-footer class="bottomBtn" *ngIf="mode === 'edit'">
  <ion-button class="footerTab ion-button-theme" expand="full" shape="round" (click)="save()" [disabled]="bankDetailsForm.invalid || bankDetailsForm.disabled">
    <ion-spinner *ngIf="bankDetailsForm.disabled" class="size-sm mr-2"></ion-spinner>
    {{ bankDetailsForm.disabled ? 'Verifying..' : 'Verify' }}
  </ion-button>
</ion-footer>
<!-- Footer Section End -->

<ng-template #loadingTmplt>
  <app-loading-skeleton></app-loading-skeleton>
</ng-template>