<!-- Header Section Start -->
<ion-header translucent class="themeHeader">
  <ion-toolbar>
    <ion-list class="d-flex justify-between">
      <ion-buttons slot="start">
        <ion-back-button mat-icon-button class="back-btn" defaultHref="/sign-in">
        </ion-back-button>
      </ion-buttons>
    </ion-list>
  </ion-toolbar>
</ion-header>
<!-- Header Section End -->
<ion-content>
  <div class="otp-content">
    <h2 class="heading">Verification</h2>
    <p class="small-label">Enter the OTP sent to <b>{{ email }}</b></p>

    <div class="mt-3">
      <ion-item class="customForm ion-text-center">
        <ion-input type="password" placeholder="OTP" class="otp-input" [formControl]="otpCtrl"></ion-input>
      </ion-item>
    </div>
    <ion-list class="p-0 mt-6">
      <ion-list class="p-0 text-center small-text">
        Didn't receive the verification OTP?
        <br>

        <div class="d-flex ion-align-items-center ion-justify-content-center">
          <ion-button size="small" fill="clear" type="submit" class="mb-0"
            [disabled]="!!resendCountDown || isSendingOTP" (click)="resendOTP()">
            {{ isSendingOTP ? 'Sending..' : 'Resend' }}
          </ion-button>
          <div *ngIf="!!resendCountDown && !isSendingOTP">in {{ resendCountDown }}s</div>
        </div>
      </ion-list>

      <ion-button class="ion-button-theme mt-4" expand="full" shape="round" type="submit"
        [disabled]="otpCtrl.invalid || isLoading" (click)="verifyOTP()">
        <ion-spinner *ngIf="isLoading" class="size-sm mr-2"></ion-spinner>
        {{ isLoading ? 'Verifying' : 'Verify'}}
      </ion-button>
    </ion-list>
  </div>
</ion-content>
