<ion-content>
  <div class="main-background">
  <div class="section">
      <div class="text-white main-heading">Welcome to</div>
      <div class="appLogo mt-14">
        <ion-icon class="logo" src="../../../assets/Prosprr-Logo-H.svg"></ion-icon>
      </div>
      <div class="text-white main-heading mb-14">Your first step to Crypto Prosperity</div>
      <ion-button class="ion-button-theme" routerLink="/sign-in">Login</ion-button>
      <div class="text-white main-heading mt-14 mb-14">Don't have an account? <span routerLink="/sign-up">Sign Up</span></div>
      <div class="text-white footer mt-14 mb-14">By signing up, you accept to the <a>Terms & conditions</a> and <a>Privacy policy</a>. </div>
    </div>  
  </div>
</ion-content>