<ion-header class="themeHeader">
  <ion-toolbar>
    <ion-title>Maintenance Mode</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <div class="appLogo">
      <ion-img class="logo" src="../../../assets/icon/maintenance-mode.png"></ion-img>
    </div>
    <ion-row>
      <ion-col class="maintenance-mode">
        <ion-title>We will back soon!</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="maintenance-mode">
        <ion-button class="ion-button-theme" (click)="exitApp()">Quit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
