.navy-box {
  width: 15px;
  height: 15px;
  background-color: #1c0c5b;
  margin: 0 0.4rem;
  border-radius: 3px;
}

.blue-box {
  width: 15px;
  height: 15px;
  background-color: #88E0EF;
  margin: 0 0.4rem;
  border-radius: 3px;
}

.red-box {
  width: 15px;
  height: 15px;
  background-color: #FF5151;
  margin: 0 0.4rem;
  border-radius: 3px;
}

.orange-box {
  width: 15px;
  height: 15px;
  background-color: #FF9B6A;
  margin: 0 0.4rem;
  border-radius: 3px;
}
