// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


/**
* Utility classes
*/
.valign-middle {
  vertical-align: middle;
}

.border-right {
  border-right: solid 1px var(--ion-color-medium);
}

.full-height {
  height: 100%;
}

.no-padding-start {
  padding-left: 0 !important;
}
.no-padding-end {
  padding-right: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

.bg-white {
  background-color: white;
}

hr.styled {
  height: 0px;
  border-width: 1px;
}

.top-rounded {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--ion-color-dark);
}

.h-80 {
  min-height: 80vh;
}

.bg-transparent {
  --background: transparent !important;
}

// Text in center and border on both side
.line-on-each-side {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;

  &:before, &:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 48%;
    height: 1px;
    content: '\a0';
    background-color: var(--ion-color-medium);
  }

  &:before {
    margin-left: -50%;
    text-align: right;
  }

  &:after {
    margin-left: 2%;
    text-align: right;
  }
}

ion-header:after {
  background-image: none !important;
}