/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/flex-css-classes/css/flex-prefixed.css";
@import "./theme/general.scss";

.link {
  text-decoration: none;
  outline: none;
  color: var(--ion-color-primary);
  font-size: 0.9rem;
}

.gray-text {
  color: var(--ion-color-medium);
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  padding: 1rem;
}

.app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20%;

  span {
    color: var(--ion-color-primary);
    font-size: 1.5rem;
  }
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7px !important;

  mat-icon {
    color: var(--ion-color-primary) !important;
  }
}

.color-primary {
  color: var(--ion-color-primary) !important;
}

.green-text {
  color: var(--ion-color-success);
}

.header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  min-height: 50px;
  align-items: center;
  padding: 1rem;

  .header-title {
    position: absolute;
    color: var(--ion-color-primary);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 0;
  }
}
