<div class="ion-padding">
  <ion-skeleton-text animated class="ion-margin-top ion-margin-bottom" style="width: 60%"></ion-skeleton-text>
  <ion-skeleton-text animated class="ion-margin-top ion-margin-bottom"></ion-skeleton-text>
  <ion-skeleton-text animated class="ion-margin-top ion-margin-bottom" style="width: 88%"></ion-skeleton-text>
  <ion-skeleton-text animated class="ion-margin-top ion-margin-bottom" style="width: 70%"></ion-skeleton-text>
  <ion-skeleton-text animated class="ion-margin-top ion-margin-bottom" style="width: 60%"></ion-skeleton-text>
</div>
