<ion-content>
  <div class="page-container p-0">
    <div class="page-header">
      <h2 class="m-0">Prosprr</h2>
    </div>
    <div class="body-container">
  
      <div *ngIf="!showLoader">
        <app-plan-list [planList]="planList" viewType="dashboard" *ngIf="selectedTab==='planList'"></app-plan-list>
        <app-home *ngIf="selectedTab==='home'"></app-home>
      </div>

      <app-loading *ngIf="showLoader"></app-loading>

    </div>
    <div class="page-footer">
      <button mat-icon-button routerLink="/dashboard/menu" routerLinkActive="active">
        <fa-icon class="tab-icons" icon="bars"></fa-icon>
      </button>
      <button mat-icon-button (click)="onSelectTab('planList')">
        <fa-icon class="tab-icons" [ngClass]="{active: selectedTab==='planList'}" icon="burn"></fa-icon>
      </button>
      <button mat-icon-button (click)="onSelectTab('home')">
        <fa-icon class="tab-icons" [ngClass]="{active: selectedTab==='home'}" icon="wallet"></fa-icon>
      </button>
    </div>

  </div>
</ion-content>
