.themeHeader{ 
  .menuLeft{  
    ion-icon{
      stroke: #2F4858;
    }
  }
}
.dashboard {
  .userName {
    font-size: 28px;
    color: var(--black);
    font-family: var(--f-Poppins);
    letter-spacing: -0.9px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .userInfo {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 1rem;
  }

  .myPortfolio {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 20px 50px 0px #0000001c;
    -moz-box-shadow: 0px 20px 50px 0px #0000001c;
    box-shadow: 0px 20px 50px 0px #0000001c;
    background-color: #fff;
    margin-bottom: 2.5rem;
    &::after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: -15px;
      width: 92%;
      height: 50px;
      background-color: var(--theme-color);
      z-index: -1;
      border-radius: 15px;
    }
    .card-body {
      display: flex;
      justify-content: space-between;
      padding: 25px 15px;
      position: relative;
      z-index: 1;
      width: 100%;
      .label {
        font-size: 15px;
        color: var(--black);
        opacity: 0.7;
        line-height: 18px;
        font-family: var(--f-Poppins);
        font-weight: 400;
      }
      .small-text {
        font-size: 15px;
        color: #102e28;
        line-height: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
    
      }
      .myPrice {
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -1.08px; 
        margin-bottom: 0px;
        margin-top: 5px;
      }
    }
  }
}
