.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem;

  .logo {
    position: absolute;
    right: 1rem;
  }
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.dash-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgba(28, 12, 91, 0.05);
  margin-bottom: 0.5rem;
  flex-shrink: 0;

  .card-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.sip-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem 0;
  flex-shrink: 0;

  &:last-child {
    border-bottom: none;
  }

  .chip {
    background-color: rgba(28, 12, 91, 0.05);
    border-radius: 20px;
    text-align: center;
    padding: 0.3rem 0.7rem;
  }
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  mat-icon {
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    height: 30px;
  }

  .active {
    color: var(--ion-color-primary);
  }
}
