.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 1rem;

  .logo {
    position: absolute;
    right: 1rem;
  }
}

.profile {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}



.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);

  .tab-icons {
    font-size: 22px;
    line-height: 22px;
    width: 22px;
    height: 22px;
  }

  .active {
    color: var(--ion-color-primary);
  }
}
