@import '../../../theme/variables.scss';

:host {
    --min-height: 48px !important;
}

.title {
    font-size: 1.1rem;
}

ion-card {
    background-color: #fff;
    margin: 0;
}

.list>.item-block:last-child .item-inner {
    border-bottom: 1px solid #dedede;
}

.content {
    background: #fff;
}

mat-card {
    border-radius: 5px;
    padding: 1.5rem 0 0 0;
    min-height: 115px;
    box-shadow: 0 4px 10px rgba(#000, 0.2) !important;

    .material-icons {
        font-size: 2.7rem;
        color: #333;
    }

    img {
        width: 110px;
    }

    .rank {
        margin: 5px auto 0;
    }

    label {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--ion-color-cardColor);
    }
    &.big {
        border-radius: 12px;
        padding: 1.8rem;
        height: 160px;
        display: flex;
        label {
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 400;
        }
    }
}

.disabled_100 {
    width: 100% !important;
    background-color: #ddd !important;
}

.school-logo {
    margin-left: 0.6rem;
    margin-right: 0.4rem;
    img {
        border: 1px solid #ddd;
        height: 40px;
        vertical-align: middle;
        border-radius: 50%;
    }
}