.topHeader {
  ion-title {
    position      : inherit;
    text-align    : left;
    height        : inherit;
    left          : inherit;
    padding-right : 0px;
    padding-inline: 0;
    font-size     : 24px;
    font-family   : var(--f-Poppins);
    font-weight   : 400;
    margin-bottom : .5rem;
    line-height   : 28px;
  }
}

.analytics {
  .chartList {
    list-style: none;
    display   : flex;
    margin    : 0px;
    padding   : 0px;

    li {
      display       : flex;
      align-items   : center;
      font-size     : 14px;
      color         : var(--blackColor);
      font-family   : var(--f-Poppins);
      margin-right  : 15px;
      text-transform: uppercase;

      .round {
        width        : 10px;
        height       : 10px;
        border-radius: 100%;
        margin-right : 5px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .Price {
    font-size     : 18px;
    line-height   : 30px;
    letter-spacing: -1.08px;
    margin-bottom : 0px;
    margin-top    : 0px;
    font-weight   : 500;
    color         : var(--blackColor);
  }

  .small-label {
    font-size  : 13px;
    line-height: 12px;
    font-weight: 400;
    font-family: var(--f-Poppins);
    text-align : left;
    color      : var(--blackColor);
    opacity    : .8;
  }

  .themeHeading {
    h6 {
      font-weight: 700 !important;
    }
  }
}
